@model IEnumerable<Add> 
@{

    ViewBag.Title = "DisplayAdds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DisplayAdds","Search"))
{
    <div class="row loginform" style="max-width:970px !important;margin:auto;">
        <div class="col-md-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>SquareFeets</th>
                        <th>Preview</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model)
                    {

                        <tr>
                            <td>@item.Created</td>
                            @foreach (var add in @item.RealEstates)
                            {
                                <td>@add.Title</td>
                                <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
                                <td>@add.Price</td>
                                <td>@add.SquareFeets</td>
                                <td>
                             @Html.ActionLink("Preview", "PreviewAdd", "User", add, new { })
                            </td>
                            <td><a href="">Edit</a></td>
                            }


                        </tr>
                    }
                </tbody>
            </table>

        </div>
</div>
}
