@model IEnumerable<Add> 
@{

    ViewBag.Title = "DisplayAdds";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("DisplayAdds","Search"))
{
    <div class="row loginform" style="max-width:970px !important;margin:auto;">
        <div class="col-md-2">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Created</th>
                        <th>Title</th>
                        <th>Image</th>
                        <th>Price</th>
                        <th>SquareFeets</th>
                    </tr>
                </thead>
                <tbody>
    @foreach (var item in @Model)
    {

        <tr>
            
            @foreach (var add in @item.RealEstates)
            {
                            <td>@item.Created</td>
                             <td>@add.Title</td>
                                <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
                                <td>@add.Price</td>
                                <td>@add.SquareFeets</td>
            }


        </tr>
        <tr>
            
            @foreach (var add in @item.Cars)
            {
                <td>@item.Created</td>
                <td>@add.Title</td>
                <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
                                <td>@add.Price</td>
                                <td>@add.Description</td>
            }


        </tr>
        <tr>
            
            @foreach (var add in @item.Electronics)
            {
                <td>@item.Created</td>
                <td>@add.Title</td>
                <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
                                <td>@add.Price</td>
                                <td>@add.Description</td>
                                
            }


        </tr>


    }
                </tbody>
            </table>

        </div>
</div>
}
