<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    @RenderSection("Styles", false)
    
    <link href="~/Content/CustomeNew/Style.css" rel="stylesheet" />

    @Scripts.Render("~/scripts/jquery-3.2.1.js")
   
</head>
<body>
    <div class="main-wrapper">
        <header>
            <div>
                <div class="header-wrap" style="max-width:970px !important;margin:auto;">
                    <div class="container-fluid">
                        <!--row start-->
                        <div class="row">
                            <!--col-md-3 start-->
                            <div class="col-md-3 col-sm-12" style="">
                                <div class="logo" style="padding-top:20px;">
                                    <a href="~/Home/Index1">
                                        <img src="~/images/logo.jpg" alt="" style="height:50px;">
                                    </a>
                                </div>
                            </div>
                            <!--col-md-3 end-->
                            <!--col-md-7 end-->
                            <div class="col-md-4 col-sm-12">
                                <!--Navegation start-->
                                <!--Navegation start-->
                            </div>
                            <!--col-md-3 end-->
                            <!--col-md-2 start-->
                            <div class="col-md-5 col-sm-12" style="">
                                <div class="row" style="">
                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons" style="">

                                        <div><a href="~/User/Login" class="Button-login">Login</a></div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons">

                                        @*<div class="post-btn"><a href="ad-post.html">Post your Ad!</a></div>*@
                                        <div><a href="~/Post/Index1" class="Button-postadd">Post your Ad!</a></div>
                                    </div>
                                </div>
                            </div>

                            <!--col-md-2 end-->
                        </div>
                        <!--row end-->
                    </div>
                </div>
            </div>
            
        </header>
        <section class="body-wrapper">
            @RenderBody()
        </section>
        <footer>
            <!--footer start-->
            <div class="footer-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h3>ABOUT Classigoo</h3>
                            <div class="logo" style="padding-top:3px;">
                                <a href="index-2.html">
                                    <img src="~/images/cg.jpg" alt="" style="height:50px;">
                                </a>
                            </div>                            
                            <p>Integer ac lorem sit amet est rhoncus dapi bus don cad pede acus morbi elit nunc molestie at ultrices eu eleifen lorem ut dictum erat masa... <a href="about-us.html">Read More</a></p>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3>Quick  LInks</h3>
                            <ul class="footer-links">
                                <li><a href="#.">Home</a></li>
                                <li><a href="#.">About Us</a></li>
                                <li><a href="#.">Post Free Add</a></li>
                                
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h3>MAIN CATEGORIES</h3>
                            <ul class="footer-category">
                                <li><a href="#.">Properties</a></li>
                                <li><a href="#.">Construction Vehicles</a></li>
                                <li><a href="#.">Transportation Vehicles</a></li>
                                <li><a href="#.">Agricultural Vehicles</a></li>
                                <li><a href="#.">Passenger Vehicles</a></li>
                                <li><a href="#.">Cars </a></li>
                                <li><a href="#.">Bikes</a></li>
                                <li><a href="#.">Mobiles & Electronics</a></li>
                                @*<li><a href="#.">All Vehicles Hire/Engage / Lease</a></li>*@

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3>REACH US</h3>
                            <div class="address">Mayfair # 305, SP Road, Police Lines, Hyderabad </div>
                            <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">(901) 445 4730</a></div>
                            <div class="info"><i class="fa fa-fax" aria-hidden="true"></i> <a href="#.">(123) 456 7890</a></div>
                        </div>
                    </div>
                    <div class="copyright">Copyright © 2017 Classigoo - All Rights Reserved.</div>
                </div>
            </div>
            <!--footer end-->

        </footer>
    </div>

    <script>
        $(document).ready(function () {

            var location = '@Session["Location"]';
            if (location) {
                $("#locations").attr("value", location);
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
