<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    @RenderSection("Styles", false)
    <link href="~/Content/slick-theme.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/slick.css" rel="stylesheet" type="text/css" /> 
    <link href="~/Content/Custome/easy-autocomplete.min.css" rel="stylesheet" />
    <link href="~/Content/Custome/easy-autocomplete.themes.min.css" rel="stylesheet" />
    
    @Scripts.Render("~/scripts/jquery-3.2.1.js")
    @*<script src="~/Scripts/jquery-3.2.1.min.js" type="text/javascript"></script>*@
    <script src="~/Scripts/Custome/jquery.easy-autocomplete.min.js" type="text/javascript"></script>
</head>
<body>
    <div class="main-wrapper">
        <header>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3">
                        <div class="logo">
                            <a href="~/Home/Index"><img src="~/images/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="search-bar">
                            <div class="search-bar-inner">
                                <div class="row">
                                    <div class="col-lg-2 ">
                                        <div class="search-item-1 dropdown ">
                                           <input type="button" class="form-control input-lg dropdown-toggle" data-toggle="dropdown"  value="All India"/>
                                            <ul class="dropdown-menu">
                                                <li class="search-city">
                                                    <input class="location-btn" type="search" placeholder="type your search" id="locations"/>
                                                </li>
                                                <li class="top-cities">
                                                    <span >Top Cities</span>
                                                    <ul>
                                                        <li><a href="#">All india</a></li>
                                                        <li><a href="#">Hyderabad</a></li>
                                                        <li><a href="#">Banglore</a></li>
                                                        <li><a href="#">Chennai</a></li>
                                                        <li><a href="#">Delhi</a></li>
                                                        <li><a href="#">Hyderabad</a></li>
                                                    </ul>
                                                </li>                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="category-search dropdown ">
                                            <input type="button" class="form-control input-lg dropdown-toggle" data-toggle="dropdown" value="All Categories" />
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="javascript:void(0)">Properties</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Cars</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Cars</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Cars</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:void(0)">Cars</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="search-item-2">
                                            <input type="text" class="form-control input-lg" placeholder="3,12,578 Ads near you" />
                                        </div>
                                    </div>
                                    <div class="col-lg-1 ">
                                        <a href="#" class="search-btn">
                                            <span class="glyphicon glyphicon-search"></span>
                                        </a>
                                        @*<input type="button" class="form-control input-lg" value="Search" />*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="login ">
                            <a href="~/User/Login" ><span class="glyphicon glyphicon-user"></span> Login/Register</a>
                        </div>
                        <div class="free-add">
                            <input type="button" class="btn  navbar-btn nav-freead " value="Submit a Free Ad" />
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="body-wrapper">
            @RenderBody()
        </section>
        <footer>
            @*<p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>*@
            <div class="container-fluid footer-banner">
            </div>
            <div class="container">
                <div class="row footer-navigation" style="max-width:970px !important;margin:auto;">
                    <div class="col-lg-1">
                        <img src="~/images/testLogo.png" />
                    </div>
                    <div class="col-lg-2" style="padding:0">
                        <ul>
                            <li><a href="#">Locations Map</a> </li>
                            <li><a href="#">Popular searches</a> </li>
                            <li><a href="#">Archive</a> </li>
                            <li><a href="#">Sitemap</a> </li>
                            <li><a href="#">Featured Ads</a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2" style="padding:0">
                        <ul>
                            <li><a href="#">Terms of Use</a> </li>
                            <li><a href="#">Help & Contact Us</a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-2" style="padding:0">
                        <ul>
                            <li><span data-toggle="collapse" data-target="#demo">Who we are</span></li>
                            <li><a href="#">Join OLX</a> </li>
                            <li><a href="#">Happy OLXers</a> </li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="row">
                            <div class="col-lg-12" style="text-align:center">
                                Connect with us
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-lg-4">

                            </div>
                            <div class="col-lg-2">
                                <a href="https://www.facebook.com/olxindia" target="_blank" style="float:right"><i class="fa fa-facebook-official" style="font-size:36px"></i></a>
                            </div>
                            <div class="col-lg-2">
                                <a href="#" target="_blank" style="float:right"><i class="fa fa-google-plus-circle" style="font-size:36px"></i></a>
                            </div>
                            <div class="col-lg-2">
                                <a href="#" target="_blank" style="float:right"><i class="fa fa-twitter" style="font-size:36px"></i></a>
                            </div>
                            <div class="col-lg-2">
                                <a href="#" target="_blank" style="float:right"><i class="fa fa-instagram" style="font-size:36px"></i></a>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row" style="max-width:970px !important;margin:auto">

                    <div class="col-lg-12">
                        <div id="whoweare" style="height:70px;">
                            <div id="demo" class="collapse">
                                OLX.in is a free local classifieds site. Sell anything from used cars to mobiles, furniture, laptops, clothing and more. Submit ads for free and without creating an account. If you want to buy something - here you will find interesting items, cheaper than in the store. Start buying and selling in the most easy way on OLX.in.
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </footer>
    </div>
    
    <script type="text/javascript">
        $(document).ready(function () {

            //var JSONItems = [];
            //$.getJSON("Scripts/Json/locations.json", function (data) {
            //    JSONItems = data;
            //   // console.log(JSONItems);
            //});
            //var result = "";
            ////JSONItems[0].subregions[0].name_long
            //$.each(JSONItems, function (i, v) {

            //    $.each(JSONItems[i].subregions, function (j,k) {
            //        result.append(v.name_long);
            //    });
               
                
            //});
            //if (JSONItems.length > 0) {
            //    for (var i = 0; i < JSONItems.length; i++) {
            //        for (var j = 0; j < JSONItems[i].subregions.length; j++) {
            //            result.append(JSONItems[i].subregions[j].name_long);
            //        }
            //    }
            //    var options = {
            //        data: JSONItems,

            //        getValue: result,
            //    };

            //    $("#locations").easyAutocomplete(options);
            //}

            //var options = {
            //    url: "http://localhost:51797/Scripts/Json/locations.json",

            //    getValue: function (element) {
            //        return $(element).find("name").text();
            //    },
            //    list: {
            //        match: {
            //            enabled: true
            //        }
            //    }
            //};
            
            $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 3,
                slidesToScroll: 3
            });
        });
        $(function () {
            $('.next-step').click(function () {
                var parent = $(this).parents('.section');
                var post_add = $(this).parents('.body-wrapper');
                $(parent).find('.header').addClass('open');
                $(parent).find('.content').slideUp();
                $(parent).next('.section').slideDown();
                var selected_header = '';
                var parent_class = parent[0].className;
                if (parent_class.indexOf('sec-1') != -1) {
                    selected_header = $('.category:checked').val();
                    selected_img = classigoo.sec_1.selected_img;
                    $('#category').css("background-image", "url(" + selected_img + ")");
                    $(post_add).addClass('sec1');
                } else if (parent_class.indexOf('sec-2') != -1) {
                    var second_list = ''
                    if ($('#category-list1').is(":visible")) {
                        second_list = $('#category-list1 option:selected').val();
                    } else if ($('#category-list2').is(":visible")) {
                        second_list = $('#category-list2 option:selected').val();
                    }
                    selected_header = $('#categoryList').val() + " > " + second_list;
                    $(post_add).addClass('sec2');
                } else if (parent_class.indexOf('sec-3') != -1) {
                    selected_header = "Section 3 Details"
                    $(post_add).addClass('sec3');
                } else {
                    selected_header = "Section 4 Details"
                    $(post_add).addClass('sec4');
                }
                $(parent).find('.selected h3').html(selected_header);
            })
            $('.grid-img a').click(function (e) {
                e.preventDefault();
                $('.grid-img').removeClass('active');
                $(this).parent().addClass('active');
                $('.category').prop("checked", false)
                $(this).parent().find('.category').prop("checked", true);
                $('.sub-category, .level-1').hide();
                showHideProperty(this.hash);
                showHideProperty(this.hash+"_level_2");
                classigoo.sec_1.selected_img = $(this).children().prop('src');
            })
            $('.sec-1 .grid-img').one('click', function () {
                $('.sec-1 .next-step').removeAttr('disabled')
            })
            $('.selected a').click(function () {
                $(this).parents('.header').next('.content').slideDown();
                $(this).parents('.header').removeClass('open')
            })
            $('#categoryList').change(function () {
                var selected_val = $(this).val();
                if (selected_val == 'for-sale') {
                    $('#category-list2').hide();
                    $('#category-list1').show();
                } else if (selected_val == 'for-rent') {
                    $('#category-list1').hide();
                    $('#category-list2').show();
                } else {
                    $('#category-list1, #category-list2').hide();
                    $(this).parents('.sec').find('.content-footer input').attr('disabled', true)
                }
            })
            $('#category-list1, #category-list2').change(function () {
                if ($(this).find('select option:selected').val() != 'select') {
                    $(this).parents('.sec').find('.content-footer input').removeAttr('disabled')
                } else {
                    $(this).parents('.sec').find('.content-footer input').attr('disabled',true)
                }
            })
        });
        function showHideProperty(id) {
            $(id).show();
        }
        var classigoo = {
            sec_1: {
                selected_img : ''
            }
        }
    </script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/scripts/bootstrap.js")
    @Scripts.Render("~/scripts/slick.js")
</body>
</html>
