<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/cg.jpg")">

    <title>Classigoo - @ViewBag.Title</title>
    <meta name="keywords" content="vehicles, Real Estate, rent, sale, Agricultural Vehicles, Construction Vehicles, Transportation Vehicles, Passenger Vehicles" />
    <meta name="Description" content="Classigoo has providing services to remote areas in Real Estate, rent, sale, Agricultural Vehicles, Construction Vehicles, Transportation Vehicles, Passenger Vehicles" />
    <meta name="robots" content="all, index, follow" />
    <meta name="language" content="english" />
    <meta http-equiv="distribution" content="Global" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link href="~/Content/Admin3/css/components.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/Admin3/css/custom.css" />

    @RenderSection("Styles", false)
</head>
<body>

    <div id="wrap">
        <div id="top">
            <!-- .navbar -->
            <nav class="navbar navbar-static-top">
                <div class="container-fluid m-0">
                    <a class="navbar-brand" href="#">
                        @*<img src="~/images/Classigoo_Logox50.png" alt="Classigoo" style="height:50px;">*@
                        <h4><img src="~/images/cg.jpg" class="admin_img" alt="logo"> <span style="color:#f70">Classi</span><span style="color:#337ab7;">goo</span> Admin</h4>
                      
                    </a>
                    <div class="menu mr-sm-auto">
                        <span class="toggle-left" id="menu-toggle">
                            <i class="fa fa-bars"></i>
                        </span>
                    </div>
                   
                    <div class="topnav dropdown-menu-right">
                       

                        <div class="btn-group">
                            <div class="user-settings no-bg">
                                <button type="button" class="btn btn-default no-bg micheal_btn" data-toggle="dropdown">

                                    <img src="~/images/iconUser.png" class="admin_img2 img-thumbnail rounded-circle avatar-img"
                                         alt="avatar"> <strong>Admin</strong>
                                    <span class="fa fa-sort-down white_bg"></span>
                                </button>
                                <div class="dropdown-menu admire_admin">
                                    <a class="dropdown-item title" href="#">
                                        Classigoo Admin
                                    </a>
                                   
                                    <a class="dropdown-item" href="login2.html">
                                        <i class="fa fa-sign-out"></i>
                                        Log Out
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </nav>
            <!-- /.navbar -->
            <!-- /.head -->
        </div>
        <!-- /#top -->
        <div class="wrapper">
            <div id="left">
                <div class="menu_scroll">
                    <div class="left_media">
                        <div class="media user-media">
                            <div class="user-media-toggleHover">
                                <span class="fa fa-user"></span>
                            </div>
                            <div class="user-wrapper">
                                <a class="user-link" href="#">
                                    <img class="media-object img-thumbnail user-img rounded-circle admin_img3" alt="User Picture"
                                         src="~/images/iconUser.png">
                                    
                                    <p class="user-info menu_hide">Welcome Admin</p>
                                </a>
                            </div>
                        </div>
                        <hr />
                    </div>
                    <ul id="menu">
                        <li class="active">
                            <a href="#">
                                <i class="fa fa-home"></i>
                                <span class="link-title menu_hide">&nbsp;Dashboard 1</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-home"></i>
                                <span class="link-title menu_hide">&nbsp;Dashboard 2</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-home"></i>
                                <span class="link-title menu_hide">&nbsp;Dashboard 3</span>
                            </a>
                        </li>
                       
                    </ul>
                    <!-- /#menu -->
                </div>
            </div>
            <!-- /#left -->
            <div id="content" class="bg-container">
              
                
                <div>
                    @RenderBody()
                </div>

            </div>
            <!-- /.inner -->
        </div>
        
    </div>

   

    <!-- global scripts-->
    <script src="~/Scripts/Admin3/components.js"></script>
    <script src="~/Scripts/Admin3/custom.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
