<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/cg.jpg")">

    <title>Classigoo - @ViewBag.Title</title>
    <meta name="keywords" content="vehicles, Real Estate, rent, sale, Agricultural Vehicles, Construction Vehicles, Transportation Vehicles, Passenger Vehicles" />
    <meta name="Description" content="Classigoo has providing services to remote areas in Real Estate, rent, sale, Agricultural Vehicles, Construction Vehicles, Transportation Vehicles, Passenger Vehicles" />
    <meta name="robots" content="all, index, follow" />
    <meta name="language" content="english" />
    <meta http-equiv="distribution" content="Global" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">


    <!--base css styles-->

    <link href="~/Content/Admin2/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Content/Admin2/css/font-awesome.min.css" rel="stylesheet" />
    <!--page specific css styles-->
    <!--flaty css styles-->
    @*<link rel="shortcut icon" href="img/favicon.html">*@
    <link href="~/Content/Admin2/flaty.css" rel="stylesheet" />
    <link href="~/Content/Admin2/flaty-responsive.css" rel="stylesheet" />


    @RenderSection("Styles", false)
</head>
<body>



    <!-- BEGIN Navbar -->
    <div id="navbar" class="navbar navbar-fixed">
        <button type="button" class="navbar-toggle navbar-btn collapsed" data-toggle="collapse" data-target="#sidebar">
            <span class="fa fa-bars"></span>
        </button>
        <a class="navbar-brand" href="#">

            <img src="~/images/Classigoo_Logox50.png" alt="Classigoo" style="height:50px;">

            @*<small>
                    <i class="fa fa-desktop"></i>
                    FLATY Admin
                </small>*@
        </a>
        <!-- BEGIN Navbar Buttons -->
        <ul class="nav flaty-nav pull-right">

            <!-- BEGIN Button User -->
            <li class="user-profile">
                <a data-toggle="dropdown" href="#" class="user-menu dropdown-toggle">
                    <img class="nav-user-photo" src="~/images/Admin/1.png" alt="Penny's Photo" />

                    <span class="hhh" id="user_info" style="color:#f70">
                        Admin
                    </span>
                    <i class="fa fa-caret-down" style="color:#f70"></i>
                </a>
                <!-- BEGIN User Dropdown -->
                <ul class="dropdown-menu dropdown-navbar" id="user_menu">
                    <li class="nav-header">
                        <i class="fa fa-clock-o"></i>
                        Logined From 20:45
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-cog"></i>
                            Account Settings
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-user"></i>
                            Edit Profile
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa fa-question"></i>
                            Help
                        </a>
                    </li>
                    <li class="divider visible-xs"></li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-tasks"></i>
                            Tasks
                            <span class="badge badge-warning">4</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-bell"></i>
                            Notifications
                            <span class="badge badge-important">8</span>
                        </a>
                    </li>
                    <li class="visible-xs">
                        <a href="#">
                            <i class="fa fa-envelope"></i>
                            Messages
                            <span class="badge badge-success">5</span>
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        <a href="#">
                            <i class="fa fa-off"></i>
                            Logout
                        </a>
                    </li>
                </ul>
                <!-- BEGIN User Dropdown -->
            </li>
            <!-- END Button User -->
        </ul>
        <!-- END Navbar Buttons -->
    </div>
    <!-- END Navbar -->
    <!-- BEGIN Container -->
    <div class="container" id="main-container">
        <!-- BEGIN Sidebar -->
        <div id="sidebar" class="navbar-collapse collapse sidebar-fixed">
            <!-- BEGIN Navlist -->
            <ul class="nav nav-list">

                <li>
                    <span style="padding:10px;">

                    </span>

                </li>
                <li id="liDashboard">
                    <a href="~/Admin/Dashboard2">
                        <i class="fa fa-dashboard"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li id="liAddsInfo">
                    <a href="~/Admin/AddsInfo">
                        <i class="fa fa-text-width"></i>
                        <span>Adds Info</span>
                    </a>
                </li>
                <li id="liCustInfo">
                    <a href="~/Admin/CustInfo">
                        <i class="fa fa-text-width"></i>
                        <span>Buyyers Info</span>
                    </a>
                </li>
                @*<li>
                        <a href="#" class="dropdown-toggle">
                            <i class="fa fa-desktop"></i>
                            <span>UI Elements</span>
                            <b class="arrow fa fa-angle-right"></b>
                        </a>
                        <!-- BEGIN Submenu -->
                        <ul class="submenu">
                            <li><a href="ui_general.html">General</a></li>
                            <li><a href="ui_button.html">Button</a></li>
                            <li><a href="ui_tabs.html">Tab & Accordion</a></li>
                            <li><a href="ui_slider.html">Slider</a></li>
                            <li><a href="ui_tile.html">Tile</a></li>
                            <li><a href="ui_timeline.html">Timeline</a></li>
                            <li><a href="ui_chart.html">Chart</a></li>
                            <li><a href="ui_message.html">Conversation</a></li>
                            <li><a href="ui_horizontal-menu.html">Horizontal Menu</a></li>
                            <li><a href="ui_icon.html">Icon</a></li>
                        </ul>
                        <!-- END Submenu -->
                    </li>*@

            </ul>
            <!-- END Navlist -->
            <!-- BEGIN Sidebar Collapse Button -->
            <div id="sidebar-collapse" class="visible-lg">
                <i class="fa fa-angle-double-left"></i>
            </div>
            <!-- END Sidebar Collapse Button -->
        </div>
        <!-- END Sidebar -->
        <!-- BEGIN Content -->
        <div id="main-content">


            @RenderBody()




            <a id="btn-scrollup" class="btn btn-circle btn-lg" href="#"><i class="fa fa-chevron-up"></i></a>
        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->
    <!-- All Jquery -->
    <!-- ============================================================== -->
    @*<script src="~/Scripts/jquery-3.2.1.min.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script>*@

    <!--basic scripts-->
    <script src="~/Scripts/Admin2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/jquery/jquery-2.1.1.min.js"><\/script>')</script>
    <script src="~/Scripts/Admin2/bootstrap.min.js"></script>
    <script src="~/Scripts/Admin2/jquery.slimscroll.min.js"></script>
    <script src="~/Scripts/Admin2/jquery.cookie.js"></script>

    @*<script src="~/Scripts/Admin2/jquery.min.js"></script>*@


    <script src="~/Scripts/Admin2/flaty.js"></script>
    <script src="~/Scripts/Admin2/flaty-demo-codes.js"></script>
   

    @RenderSection("scripts", required: false)
</body>
</html>
