<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
  
    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    <link href="~/Content/CustomeNew/Index1.css" rel="stylesheet" />
    @RenderSection("Styles", false)
    
    <link href="~/Content/CustomeNew/Style.css" rel="stylesheet" />
   
    @Scripts.Render("~/scripts/jquery-3.2.1.js")
   
</head>
<body>
    <div class="main-wrapper">
        <header>
            <div>
                <div class="header-wrap" style="max-width:990px !important;margin:auto;">
                    <div class="container-fluid">
                        <!--row start-->
                        <div class="row">
                            <!--col-md-3 start-->
                            <div class="col-md-3 col-sm-12" style="">
                                <div class="logo" style="padding-top:20px;">
                                    <a href="~/List/Home">
                                        <img src="~/images/logo.jpg" alt="" style="height:50px;">
                                    </a>
                                </div>
                            </div>
                            <!--col-md-3 end-->
                            <!--col-md-7 end-->
                            <div class="col-md-4 col-sm-12">
                                <!--Navegation start-->
                                <!--Navegation start-->
                            </div>
                            <!--col-md-3 end-->
                            <!--col-md-2 start-->
                            <div class="col-md-5 col-sm-12" style="">
                                <div class="row" style="">
                                    
                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons" style="display:none" id="userLoggedIn">
                                        <div class="collapse navbar-collapse justify-content-end col-md-6 col-xs-6 col-sm-6" id="navbarCollapse">
                                            <ul class="nav">
                                                <li class="dropdown">
         
                                                    <a class="nav-link dropdown-toggle" href="listing-map-left.html" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                        <span class="glyphicon glyphicon-user"></span>
                                                         <span class="link inlblk acc-user-name fleft"><strong><span id="userName">Classigoo User</span></strong></span>
                                                    </a>
                                                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                                        <li><a class="dropdown-item" href="~/User/Home">My DashBoard</a></li>
                                                        <li><a class="dropdown-item" href="~/User/SignOut">SignOut</a></li>
                                                        
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons" style="display:none" id="userNotLoggedIn">

                                        <div><a href="~/User/Login" class="Button-login">Login</a></div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons">

                                       
                                        <div><a href="~/Post/Index" class="Button-postadd">Post your Ad!</a></div>
                                    </div>
                                </div>
                            </div>

                            <!--col-md-2 end-->
                        </div>
                        <!--row end-->
                    </div>
                </div>
            </div>
           
        </header>
    
        <section class="body-wrapper">
            @RenderBody()
        </section>
        <footer>
            <!--footer start-->
            <div class="footer-wrap">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h3>ABOUT Classigoo</h3>
                            <div class="logo" style="padding-top:3px;">
                                <a href="index-2.html">
                                    <img src="~/images/cg.jpg" alt="" style="height:50px;">
                                </a>
                            </div>                            
                            <p>Integer ac lorem sit amet est rhoncus dapi bus don cad pede acus morbi elit nunc molestie at ultrices eu eleifen lorem ut dictum erat masa... <a href="~/List/About">Read More</a></p>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3>Quick  LInks</h3>
                            <ul class="footer-links">
                                <li><a href="~/List/Home">Home</a></li>
                                <li><a href="~/List/About">About Us</a></li>
                                <li><a href="~/Post/Index">Post Free Add</a></li>
                                <li><a href="~/List/Contact">Contact Us</a></li>
                            </ul>
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <h3>MAIN CATEGORIES</h3>
                            <ul class="footer-links">
                                <li><a href="~/List/Index?category=Agricultural Vehicles&type=Sale">Agricultural Vehicles</a></li>
                                <li><a href="~/List/Index?category=Construction Vehicles&type=Sale">Construction Vehicles</a></li>
                                <li><a href="~/List/Index?category=Transportation Vehicles&type=Sale">Transportation Vehicles</a></li>
                                <li><a href="~/List/Index?category=Passenger Vehicles&type=Sale">Passenger Vehicles</a></li>
                                <li><a href="~/List/Index?category=Real Estate&type=Sale">Real Estate</a></li>
                               
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3>REACH US</h3>
                            <div class="address">Mayfair # 305, SP Road, Police Lines, Hyderabad </div>
                            <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">(901) 445 4730</a></div>
                            <div class="info"><i class="fa fa-fax" aria-hidden="true"></i> <a href="#.">(123) 456 7890</a></div>
                        </div>
                    </div>
                    <div class="copyright">Copyright © 2017 Classigoo - All Rights Reserved.</div>
                </div>
            </div>
            <!--footer end-->

        </footer>
    </div>

    <script>
        $(document).ready(function () {

            var location = '@Session["Location"]';
            if (location) {
                $("#locations").attr("value", location);
            }
            var user = '@Session["UserId"]';
            if(user)
            {

                $("#userLoggedIn").css("display","block");
            }
            else
            {
                $("#userNotLoggedIn").css("display","block");
            }
        });
    </script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/scripts/bootstrap.js")
</body>
</html>
