<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/cg.jpg")">

    <meta name="viewport" content="width=device-width, initial-scale=1" />
    @*<title>@ViewBag.Title</title>*@

    <title>Classigoo - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @*@Scripts.Render("~/bundles/modernizr")*@

    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />*@
    @*<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
        <link href="~/Content/font-awesome.css" rel="stylesheet" />*@
    <link href="~/Content/CustomeNew/Index1.css" rel="stylesheet" />
    @RenderSection("Styles", false)

    <link href="~/Content/CustomeNew/Style.css" rel="stylesheet" />

    @Scripts.Render("~/scripts/jquery-3.2.1.js")

    <style type="text/css">
        .goog-te-banner-frame.skiptranslate {display: none !important;} 
body { top: 0px !important; }
        .navbar .dropdown-item i {
            font-size: 16px;
            min-width: 22px;
        }

        .navbar .nav-item.open > a {
            background: none !important;
        }

        .navbar .dropdown-menu {
            border-radius: 1px;
            border-color: #e5e5e5;
            box-shadow: 0 2px 8px rgba(0,0,0,.05);
        }

            .navbar .dropdown-menu li a {
                color: #777;
                padding: 8px 20px;
                line-height: normal;
            }

                .navbar .dropdown-menu li a:hover, .navbar .dropdown-menu li a:active {
                    color: #333;
                }

        .navbar .dropdown-item .material-icons {
            font-size: 21px;
            line-height: 16px;
            vertical-align: middle;
            margin-top: -2px;
        }

        .login-nav nav {
            display: block;
            text-align: center;
            width: 100%;
        }

            .login-nav nav ul {
                margin: 0;
                padding: 0;
                list-style: none;
            }

        .login-nav .nav a {
            display: block;
            background: #337ab7;
            color: #FFFFFF;
            text-decoration: none;
            padding-top: 2px;
            padding-bottom: 2px;
            max-width: 164px;
            font-size: 16px;
            width: 100%;
            cursor: pointer;
            position: relative;
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

        .login-nav .nav {
            vertical-align: top;
            display: inline-block;
            box-shadow: 1px -1px -1px 1px #000, -1px 1px -1px 1px #fff, 0 0 6px 3px #fff;
            /*border-radius: 6px;*/
            width: 100%;
            max-width: 164px;
        }

            .login-nav .nav li {
                position: relative;
            }

            .login-nav .nav > li {
                float: left;
                /*border-bottom: 4px #aaa solid;*/
                margin-right: 1px;
            }

                .login-nav .nav > li > a {
                    background: #337ab7;
                    color: #FFFFFF;
                    max-width: 164px;
                    width: 100%;
                    padding: 7px 16px;
                    text-align: center;
                    height: 41px;
                    /*margin-bottom: 1px;
                            box-shadow: inset 0 2em .33em -0.5em #555;*/
                }

                .login-nav .nav > li:hover,
                .login-nav .nav > li:hover > a {
                    border-bottom-color: orange;
                }

            .login-nav .nav li:hover > a {
                color: black;
                background: #337ab7;
            }

            .login-nav .nav li ul li:hover > a {
                color: orange;
                background: #FFFFFF;
            }

            .login-nav .nav li li a {
                margin-top: 1px;
                background-color: #FFFFFF;
                color: #777;
                font-size: 14px;
                border-radius: 1px;
                border-color: #e5e5e5;
                box-shadow: 0 2px 8px rgba(0,0,0,.05);
            }


            /* submenu positioning*/
            .login-nav .nav ul {
                position: absolute;
                white-space: nowrap;
                /*border-bottom: 5px solid orange;*/
                z-index: 1;
                left: -99999em;
            }

            .login-nav .nav > li:hover > ul {
                left: auto;
                /*margin-top: 5px;*/
                min-width: 100%;
            }

            .login-nav .nav > li li:hover > ul {
                left: 100%;
                margin-left: 1px;
                top: -1px;
            }
            /* arrow hover styling */
            .login-nav .nav > li > a:first-child:nth-last-child(2):before {
                border-top-color: #aaa;
            }

            .login-nav .nav > li:hover > a:first-child:nth-last-child(2):before {
                border: 5px solid transparent;
                border-bottom-color: orange;
                margin-top: -5px;
            }

            .login-nav .nav li li > a:first-child:nth-last-child(2):before {
                border-left-color: #aaa;
                margin-top: -5px;
            }

            .login-nav .nav li li:hover > a:first-child:nth-last-child(2):before {
                border: 5px solid transparent;
                border-right-color: orange;
                right: 10px;
            }

        .paddingContent {
            /*padding-top:80px;*/
        }

        .logosize {
            height: 50px;
        }









        @@media screen and (max-width: 991px) {
            .paddingContent {
                /*padding-top:160px;*/
            }

            .logosize {
                height: 50px;
            }

            .login-nav ul.nav li.dropdown:hover > ul.dropdown-menu {
                display: block;
            }
        }




        /*.dropbtn {
                    background-color: #3498DB;
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }

                    .dropbtn:hover, .dropbtn:focus {
                        background-color: #2980B9;
                    }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }

                .dropdown a:hover {
                    background-color: #ddd;
                }*/



        .dropbtn {
            background-color: #337ab7;
            border: 1px solid #fff;
            color: #FFFFFF;
            padding: 7px 7px;
            font-size: 16px;
            height: 42px;
            max-width: 164px;
            border: none;
            text-align: center;
            font-weight: bold;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            max-width: 164px;
            width:100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 5px 10px;
                text-decoration: none;
                display: block;
            }

        .show {
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        /*.dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #3e8e41;}*/
    </style>
    
    <script type="text/javascript">
function googleTranslateElementInit() {
  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'en,te', layout: google.translate.TranslateElement.InlineLayout.SIMPLE}, 'google_translate_element');
}
    </script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
</head>
<body>
    <div class="main-wrapper">
        <header>
            <!--position:fixed;z-index:999999 for freeze-->
            <div style="width:100%;background-color:white;">
                <div class="header-wrap" style="padding:0 10px 0 10px">
                    <div class="container-fluid" style="max-width:1150px !important;margin:auto;">
                        <!--row start-->
                        <div class="row" style="padding-top:20px;">
                            <!--col-md-3 start-->
                            <div class="col-md-3 col-sm-12" style="padding-left:0">
                                <div class="logo" style="padding-top:0px;padding-left:0px;margin-left:0 ;">
                                    <a href="~/List/Home">
                                        @*<img src="~/images/logo.jpg" alt="" style="height:50px;">*@

                                        <img src="~/images/Classi goo logo.png" alt="" class="logosize">
                                        @*<img src="~/images/Classi goo (2).png" alt="" />*@
                                    </a>
                                </div>
                                <div id="google_translate_element"></div>
                            </div>
                            <!--col-md-3 end-->
                            <!--col-md-7 end-->
                            <div class="col-md-5 col-sm-12 showcontactdesktop" style="padding:20px 0 0 0;">
                                <!--Navegation start-->
                                <!--Navegation start-->
                                <div class="row" style="padding-top:0px;">

                                    <div class="col-md-12 col-xs-6 col-sm-6" style="text-align:center;padding-top:0">

                                        @*<a href="#" style="color:#337ab7;font-size:24px;"><span style="color:#337ab7;">For Vehicle Rent- Sale- Buy @@ </span>  <i class="fa fa-phone"></i> <span style="color:#f70;font-weight:bold">9603699900</span></a>*@
                                        <a href="#" style="color:#337ab7;font-size:26px;"><span style="color:#337ab7;font-family:'Poppins', sans-serif;font-size: 18px;line-height: 26px;font-weight: 400;"><strong>Vehicle Rent- Sale- Buy <i class="fa fa-phone"></i>:</strong></span>  <span style="color:#f70;font-weight:bold">9603699900</span></a>
                                    </div>
                                </div>
                            </div>
                            <!--col-md-3 end-->
                            <!--col-md-2 start-->
                            <div class="col-md-4 col-sm-12" style="padding-top:8px;">

                                <div class="row" style="">

                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons" style="display:none;" id="userLoggedIn">


                                        <div style="text-align:center;max-width: 164px">
                                            <div class="dropdown" style="width:100%;max-width:164px;">
                                                <div>
                                                    <button class="dropbtn" style="width:100%;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;" onclick="myFunction()">

                                                        <span class="glyphicon glyphicon-user"></span>

                                                        <span class="link inlblk acc-user-name fleft"><span id="userName">Classigoo User</span></span>
                                                    </button>
                                                </div>
                                               
                                                <div class="dropdown-content">
                                                    <a href="~/User/Home">My Ads</a>
                                                    <a href="~/User/SignOut">Sign Out</a>
                                                   
                                                </div>
                                            </div>
                                        </div>

                                       

                                        <div style="display:none">

                                            <div style="width:100%;text-align:center;display:none" class="navbar-collapse justify-content-end col-md-12 col-xs-12 col-sm-12" id="navbarCollapse">
                                                <ul class="nav" style="width:100%">
                                                    <li class="dropdown" style="width:100%">

                                                        <a class="nav-link dropdown-toggle" style="width:100%;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;" href="listing-map-left.html" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                            <span class="glyphicon glyphicon-user"></span>

                                                            <span class="link inlblk acc-user-name fleft"><span id="userName1">Classigoo User</span></span>
                                                        </a>
                                                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                                                            <li><a class="dropdown-item" href="~/User/Home">My Ads</a></li>
                                                            <li><a class="dropdown-item" href="~/User/SignOut">Sign Out</a></li>

                                                        </ul>
                                                    </li>
                                                </ul>
                                            </div>

                                            <div style="width:100%;text-align:center;" class="navbar-collapse justify-content-end col-md-12 col-xs-12 col-sm-12" id="navbarCollapse1">
                                                <div class="dropdown">
                                                    <button class="Button-login btn btn-primary dropdown-toggle" id="menu1" type="button" data-toggle="dropdown">
                                                        Dropdown Example
                                                        <span class="caret"></span>
                                                    </button>
                                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">HTML</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">CSS</a></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                                                        <li role="presentation" class="divider"></li>
                                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">About Us</a></li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <div class="login-nav" style="display:none">
                                                <nav>
                                                    <ul class="nav">
                                                        <li style="width:100%">

                                                            @*<div class="dropdown">
                                                                    <button class="dropbtn">
                                                                        <span class="glyphicon glyphicon-user"></span>

                                                                        <span class="link inlblk acc-user-name fleft"><span id="userName">Classigoo User</span></span>
                                                                    </button>
                                                                    <div class="dropdown-content">
                                                                        <a class="dropdown-item" href="~/User/Home">My Ads</a>

                                                                        <a class="dropdown-item" href="~/User/SignOut">SignOut</a>
                                                                    </div>
                                                                </div>*@
                                                            <div class="dropdown">
                                                                <button onclick="myFunction()" class="dropbtn">
                                                                    <span class="glyphicon glyphicon-user"></span>

                                                                    <span class="link inlblk acc-user-name fleft"><span id="userName">Classigoo User</span></span>

                                                                </button>
                                                                <div id="myDropdown" class="dropdown-content">
                                                                    <a class="dropdown-item" href="~/User/Home">My Ads</a>
                                                                    <a class="dropdown-item" href="~/User/SignOut">SignOut</a>
                                                                </div>
                                                            </div>

                                                            @*<a class="nav-link dropdown-toggle" style="width:100%;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;" href="listing-map-left.html" id="navbarDropdownMenuLink1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                                    <span class="glyphicon glyphicon-user"></span>

                                                                    <span class="link inlblk acc-user-name fleft"><span id="userName">Classigoo User</span></span>
                                                                </a>
                                                                <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1" style="width:100%;border:1px solid gray;background-color:white">
                                                                    <li style="width:100%;"><a class="dropdown-item" href="~/User/Home">My Ads</a></li>
                                                                    <li style="width:100%;"><a class="dropdown-item" href="~/User/SignOut">SignOut</a></li>

                                                                </ul>*@
                                                        </li>

                                                    </ul>
                                                </nav>
                                            </div>
                                        </div>




                                        @*<ul class="nav navbar-nav navbar-right ml-auto">

                                                <li class="nav-item dropdown" style="width:100%">
                                                    <a href="#" data-toggle="dropdown" style="color:white;width:100%" class="Button-login nav-link dropdown-toggle user-action">Paula Wilson <b class="caret"></b></a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="#" class="dropdown-item"><i class="fa fa-user-o"></i> Profile</a></li>
                                                        <li><a href="#" class="dropdown-item"><i class="fa fa-calendar-o"></i> Calendar</a></li>
                                                        <li><a href="#" class="dropdown-item"><i class="fa fa-sliders"></i> Settings</a></li>
                                                        <li class="divider dropdown-divider"></li>
                                                        <li><a href="#" class="dropdown-item"><i class="fa fa-sign-out">&#xE8AC;</i> Logout</a></li>
                                                    </ul>
                                                </li>
                                            </ul>*@

                                    </div>

                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons" style="display:none;" id="userNotLoggedIn">

                                        <div style="text-align:center"><a href="~/User/Login" class="Button-login"><span style="font-weight:bold">Login</span></a></div>
                                    </div>
                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons">
                                        <div style="text-align:center"><a href="~/Post/Index" class="Button-postadd"><span style="font-weight:bold"> Post your Ad!</span></a></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12 showcontactmobile">

                                <div style="text-align:center">
                                    <a href="#" style="color:#337ab7;font-size:22px;"><span style="color:#337ab7;font-family:'Poppins', sans-serif;font-size: 14px;line-height: 26px;font-weight: 400;"><strong>Vehicle Rent- Sale- Buy <i class="fa fa-phone"></i>:</strong></span>  <span style="color:#f70;font-weight:bold">9603699900</span></a>
                                </div>
                            </div>

                            <!--col-md-2 end-->
                        </div>
                        <!--row end-->
                    </div>
                </div>
                <div class="breadcrumb-block">

                </div>
            </div>

        </header>
        <section class="body-wrapper">
            <!--position:relative; for freeze for following div-->
            <div class="paddingContent">
                @RenderBody()
            </div>
        </section>
        <footer>
            <!--footer start-->
            <div class="footer-wrap" style="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h3>ABOUT Classigoo</h3>
                            <div class="logo" style="padding-top:3px;">
                                <a href="index-2.html">
                                    <img src="~/images/cg.jpg" alt="" style="height:50px;">
                                </a>
                            </div>
                            <p style="text-align:justify">Classigoo is your one stop shop for your vehicle purchase needs. If you are tired of looking for buying, selling or rent of commerical, agricultural, trasnsport and passenger vehicles... <a href="~/List/About">Read More</a></p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Quick  LInks</h3>
                            <ul class="footer-links" style="color:white">
                                <li><a href="~/List/Home">Home</a></li>
                                <li><a href="~/List/About">About Us</a></li>
                                <li><a href="~/Post/Index">Post Free Add</a></li>
                                <li><a href="~/List/Contact">Contact Us</a></li>
                                <li><a href="~/List/Disclaimer">Disclaimer</a></li>
                                <li><a href="~/List/Privacy">Privacy Policy</a></li>
                                <li><a href="~/List/Terms">Terms and conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>MAIN CATEGORIES</h3>
                            <ul class="footer-links" style="color:white">
                                <li><a href="~/List/Index?category=Agricultural Vehicles&type=Sale">Agricultural Vehicles</a></li>
                                <li><a href="~/List/Index?category=Construction Vehicles&type=Sale">Construction Vehicles</a></li>
                                <li><a href="~/List/Index?category=Transportation Vehicles&type=Sale">Transportation Vehicles</a></li>
                                <li><a href="~/List/Index?category=Passenger Vehicles&type=Sale">Passenger Vehicles</a></li>
                                <li><a href="~/List/Index?category=Real Estate&type=Sale">Real Estate</a></li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3>REACH US</h3>
                            <div class="address">11-24, Sri Shankar Colony, LB Nagar, Hyderabad, Telangana - 74 </div>
                            <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">(960) 369 9900</a></div>
                            @*<div class="info" ><i class="fa fa-fax" aria-hidden="true"></i> <a href="#.">(123) 456 7890</a></div>*@
                        </div>
                    </div>
                    <div class="copyright" style="color:white">Copyright © 2018 Classigoo - All Rights Reserved.</div>
                </div>
            </div>
            <!--footer end-->

        </footer>
    </div>

    <script>
        $(document).ready(function () {

            $(".dropdown-toggle").dropdown();

            var isUserLoggedIn = '@User.Identity.IsAuthenticated';
            if (isUserLoggedIn == 'True') {
                $("#userLoggedIn").css("display", "block");
                $("#userName").text('@User.Identity.Name');
            }
            else {
                $("#userNotLoggedIn").css("display", "block");
            }
        });


        /* When the user clicks on the button,
toggle between hiding and showing the dropdown content */
        function myFunction() {

            //document.getElementById("myDropdown").classList.toggle("show");

            $(".dropdown-content").toggleClass("show");
        }

        // Close the dropdown if the user clicks outside of it
        window.onclick = function (event) {



            if (!event.target.matches('.dropbtn')) {

                //$(".dropdown-content").toggleClass("show");

                //    var dropdowns = document.getElementsByClassName("dropdown-content");
                //    var i;
                //    for (i = 0; i < dropdowns.length; i++) {
                //        var openDropdown = dropdowns[i];
                //        if (openDropdown.classList.contains('show')) {
                //            openDropdown.classList.remove('show');
                //        }
                //    }
            }
        }

    </script>
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/scripts/bootstrap.js")
</body>
</html>
