<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/images/cg.jpg")">

    <title>Classigoo - @ViewBag.Title</title>
    <meta name="keywords" content="vehicles, Real Estate, rent, sale, Agricultural Vehicles, Construction Vehicles, Transportation Vehicles, Passenger Vehicles" />
    <meta name="Description" content="Classigoo has providing services to remote areas in Real Estate, rent, sale, Agricultural Vehicles, Construction Vehicles, Transportation Vehicles, Passenger Vehicles" />
    <meta name="robots" content="all, index, follow" />
    <meta name="language" content="english" />
    <meta http-equiv="distribution" content="Global" />
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    @Styles.Render("~/Content/css")

    <link href="~/Content/CustomeNew/Index1.css" rel="stylesheet" />

    @RenderSection("Styles", false)

    <link href="~/Content/CustomeNew/Style.css" rel="stylesheet" />

    @Scripts.Render("~/scripts/jquery-3.2.1.js")

    <style type="text/css">
        .paddingContent {
            /*padding-top:80px;*/
        }

        .logosize {
            height: 50px;
        }

        .socialsizes{
            width:25px;height:25px;
        }



        @@media screen and (max-width: 991px) {
            .paddingContent {
                /*padding-top:160px;*/
            }

            .logosize {
                height: 50px;
            }

            .login-nav ul.nav li.dropdown:hover > ul.dropdown-menu {
                display: block;
            }

            .socialsizes{
            width:30px;height:30px;
        }
        }




        /*.dropbtn {
                    background-color: #3498DB;
                    color: white;
                    padding: 16px;
                    font-size: 16px;
                    border: none;
                    cursor: pointer;
                }

                    .dropbtn:hover, .dropbtn:focus {
                        background-color: #2980B9;
                    }

                .dropdown {
                    position: relative;
                    display: inline-block;
                }

                .dropdown-content {
                    display: none;
                    position: absolute;
                    background-color: #f1f1f1;
                    min-width: 160px;
                    overflow: auto;
                    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                    z-index: 1;
                }

                    .dropdown-content a {
                        color: black;
                        padding: 12px 16px;
                        text-decoration: none;
                        display: block;
                    }

                .dropdown a:hover {
                    background-color: #ddd;
                }*/



        .dropbtn {
            background-color: #337ab7;
            border: 1px solid #fff;
            color: #FFFFFF;
            padding: 7px 7px;
            font-size: 16px;
            height: 42px;
            max-width: 164px;
            border: none;
            text-align: center;
            font-weight: bold;
        }

        .dropdown {
            position: relative;
            display: inline-block;
        }

        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f1f1f1;
            max-width: 164px;
            width: 100%;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }

            .dropdown-content a {
                color: black;
                padding: 5px 10px;
                text-decoration: none;
                display: block;
            }

        .show {
            display: block;
        }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

        /*.dropdown:hover .dropdown-content {display: block;}

        .dropdown:hover .dropbtn {background-color: #3e8e41;}*/
    </style>
</head>
<body>
    <div class="main-wrapper">
        <header>
            <!--position:fixed;z-index:999999 for freeze-->
            <div style="width:100%;background-color:white;">
                <div class="header-wrap" style="padding:0 10px 0 10px">
                    <div class="container-fluid" style="max-width:1150px !important;margin:auto;">
                        <!--row start-->
                        <div class="row" style="padding-top:20px;">
                            <!--col-md-3 start-->
                            <div class="col-md-3 col-sm-12" style="padding-left:0">
                                <div class="logo" style="padding-top:0px;padding-left:0px;margin-left:0 ;">
                                    <a href="~/List/Home">
                                        <img src="~/images/Classigoo_Logox50.png" alt="Classigoo" class="logosize">
                                    </a>
                                </div>
                            </div>
                            <!--col-md-3 end-->
                            <!--col-md-7 end-->
                            <div class="col-md-5 col-sm-12 showcontactdesktop" style="padding:20px 0 0 0;">
                                <!--Navegation start-->
                                <!--Navegation start-->
                                <div class="row" style="padding-top:0px;">

                                    <div class="col-md-12 col-xs-6 col-sm-6" style="text-align:center;padding-top:0">
                                        @*<a href="#" style="color:#337ab7;font-size:24px;"><span style="color:#337ab7;">For Vehicle Rent- Sale- Buy @@ </span>  <i class="fa fa-phone"></i> <span style="color:#f70;font-weight:bold">9603699900</span></a>*@
                                        <a href="#" style="color:#337ab7;font-size:26px;"><span style="color:#337ab7;font-family:'Poppins', sans-serif;font-size: 18px;line-height: 26px;font-weight: 400;"><strong>Vehicle Rent- Sale- Buy <i class="fa fa-phone"></i>:</strong></span>  <span style="color:#f70;font-weight:bold">9603699900</span></a>
                                    </div>
                                </div>
                            </div>
                            <!--col-md-3 end-->
                            <!--col-md-2 start-->
                            <div class="col-md-4 col-sm-12" style="padding-top:8px;">

                                <div class="row" style="">

                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons" style="display:none;" id="userLoggedIn">


                                        <div style="text-align:center;max-width: 164px">
                                            <div class="dropdown" style="width:100%;max-width:164px;">
                                                <div>
                                                    <button class="dropbtn" style="width:100%;white-space: nowrap; overflow: hidden;text-overflow: ellipsis;" onclick="myFunction()">

                                                        <span class="glyphicon glyphicon-user"></span>

                                                        <span class="link inlblk acc-user-name fleft"><span id="userName">Classigoo User</span></span>
                                                    </button>
                                                </div>

                                                <div class="dropdown-content">
                                                    <a href="~/User/Home">My Ads</a>
                                                    <a href="~/User/SignOut">Sign Out</a>

                                                </div>
                                            </div>
                                        </div>

                                    </div>

                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons" style="display:none;" id="userNotLoggedIn">

                                        <div style="text-align:center"><a href="~/User/Login" class="Button-login"><span style="font-weight:bold">Login</span></a></div>
                                    </div>

                                    <div class="col-md-6 col-xs-6 col-sm-6 headerbuttons">
                                        <div style="text-align:center"><a href="~/Post/Index" class="Button-postadd"><span style="font-weight:bold"> Post your Ad!</span></a></div>
                                    </div>
                                </div>

                            </div>

                            <div class="col-sm-12 showcontactmobile">

                                <div style="text-align:center">
                                    <a href="#" style="color:#337ab7;font-size:22px;"><span style="color:#337ab7;font-family:'Poppins', sans-serif;font-size: 14px;line-height: 26px;font-weight: 400;"><strong>Vehicle Rent- Sale- Buy <i class="fa fa-phone"></i>:</strong></span>  <span style="color:#f70;font-weight:bold">9603699900</span></a>
                                </div>
                            </div>

                            <!--col-md-2 end-->
                        </div>
                        <!--row end-->
                    </div>
                </div>
                <div class="breadcrumb-block">

                </div>
            </div>

        </header>
        <section class="body-wrapper">
            <!--position:relative; for freeze for following div-->
            <div class="paddingContent">
                @RenderBody()
            </div>
        </section>
        <footer>
            <!--footer start-->
            <div class="footer-wrap" style="">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4 col-sm-6">
                            <h3>ABOUT Classigoo</h3>
                            <div class="logo" style="padding-top:3px;">
                                <a href="~/List/Home">
                                    <img src="~/images/cg.jpg" alt="Classigoo" style="height:50px;">
                                </a>
                            </div>
                            <p style="text-align:justify">Classigoo is your one-click online vehicle marketplace for all vehicle Bookings and Sale- Purchase services. Now with Classigoo, you can book all vehicles both online and offline (960 36 999 00).... <a href="~/List/About">Read More</a></p>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>Quick  LInks</h3>
                            <ul class="footer-links" style="color:white">
                                <li><a href="~/List/Home">Home</a></li>
                                <li><a href="~/List/About">About Us</a></li>
                                <li><a href="~/Post/Index">Post Free Add</a></li>
                                <li><a href="~/List/Contact">Contact Us</a></li>
                                <li><a href="~/List/Disclaimer">Disclaimer</a></li>
                                <li><a href="~/List/Privacy">Privacy Policy</a></li>
                                <li><a href="~/List/Terms">Terms and conditions</a></li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <h3>MAIN CATEGORIES</h3>
                            <ul class="footer-links" style="color:white">
                                <li><a href="~/List/Index?category=Agricultural Vehicles&type=Rent">Agricultural Vehicles</a></li>
                                <li><a href="~/List/Index?category=Construction Vehicles&type=Rent">Construction Vehicles</a></li>
                                <li><a href="~/List/Index?category=Transportation Vehicles&type=Rent">Transportation Vehicles</a></li>
                                <li><a href="~/List/Index?category=Passenger Vehicles&type=Rent">Passenger Vehicles</a></li>
                                <li><a href="~/List/Index?category=Real Estate&type=Rent">Real Estate</a></li>

                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-md-2 col-sm-6">
                            <h3>REACH US</h3>
                            <div class="address">11-24, Sri Shankar Colony, LB Nagar, Hyderabad, Telangana - 74 </div>
                            <div class="info"><i class="fa fa-phone" aria-hidden="true"></i> <a href="#.">(960) 369 9900</a></div>

                            <div style="padding-left:0px;">
                                <a href="https://www.facebook.com/Classigoo2018/" style="color: white;font-size: 14px;line-height: 30px;font-weight: normal;" target="_blank">
                                  
                                    <img src="~/images/icons/social/fb.png" class="socialsizes"/>
                                </a>
                                <a href="https://www.linkedin.com/company/classigoo/" style="color: white;font-size: 14px;line-height: 30px;font-weight: normal;padding-left:5px;" target="_blank">
                                  
                                    <img src="~/images/icons/social/ln.png" class="socialsizes" />
                                </a>
                                <a href="javascript:void(0)" style="color: white;font-size: 14px;line-height: 30px;font-weight: normal;padding-left:5px;" target="_blank">
                                  
                                    <img src="~/images/icons/social/yt.png" class="socialsizes" />

                                </a>
                                <a href="https://twitter.com/ClassigooCom" style="color: white;font-size: 14px;line-height: 30px;font-weight: normal;padding-left:5px;" target="_blank">
                                  
                                    <img src="~/images/icons/social/tw.png" class="socialsizes"/>
                                </a>                                                           
                                <a href="https://plus.google.com/u/0/109615370699166508505" style="color: white;font-size: 14px;line-height: 30px;font-weight: normal;padding-left:5px;" target="_blank">
                                  
                                    <img src="~/images/icons/social/gplus.png" class="socialsizes"/>
                                </a>
                            </div>



                        </div>
                    </div>
                    <div class="copyright" style="color:white">Copyright © 2018 Classigoo - All Rights Reserved.</div>
                </div>
            </div>
            <!--footer end-->

        </footer>
    </div>

    <script>
        $(document).ready(function () {

            $(".dropdown-toggle").dropdown();

            var isUserLoggedIn = '@User.Identity.IsAuthenticated';
            if (isUserLoggedIn == 'True') {
                $("#userLoggedIn").css("display", "block");
                $("#userName").text('@User.Identity.Name');
            }
            else {
                $("#userNotLoggedIn").css("display", "block");
            }
        });


        /* When the user clicks on the button, toggle between hiding and showing the dropdown content */
        function myFunction() {

            $(".dropdown-content").toggleClass("show");
        }
    </script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    @*<script async src="https://www.googletagmanager.com/gtag/js?id=UA-122468022-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'UA-122468022-2');
        </script>*@


    @RenderSection("scripts", required: false)
    @Scripts.Render("~/scripts/bootstrap.js")
</body>
</html>
