@model  List<List<CustomAdd>>
 @{
     Layout = null;
}
<div class="bloglisting grid" id="gridTest">

    @{
        foreach (var add in Model)
        {
            <ul class="mt30 clearfix row">
                @foreach (var innerAdds in add)
                {
                    <li class="col-sm-4 clearfix">

                        <div class="searchgrid" style="width:100%;float:left">
                            <a class="thumbnail" target="_blank" href="@Url.Action("PreviewAdd","List",new { addId = innerAdds.AddId })"><img src="@innerAdds.ImgUrlPrimary" style="height:200px;width:980px" alt=""></a>
                            @if (innerAdds.Category == Constants.RealEstate)
                            {
                                <div class="category color1"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                            }
                            else if (innerAdds.Category == Constants.ConstructionVehicle)
                            {
                                <div class="category color2"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                            }
                            else if (innerAdds.Category == Constants.TransportationVehicle)
                            {
                                <div class="category color3"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                            }
                            else if (innerAdds.Category == Constants.PassengerVehicle)
                            {
                                <div class="category color4"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                            }
                            else if (innerAdds.Category == Constants.AgriculturalVehicle)
                            {
                                <div class="category color5"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                            }

                            <div>
                                <h4><a class="title titlecollapse" target="_blank" href="@Url.Action("PreviewAdd","List",new { addId = innerAdds.AddId })">@innerAdds.Title </a></h4>
                                <ul class="icondetail">
                                    <li><i class="fa fa-rupee"></i>Price : @innerAdds.Price</li>
                                    <li><i class="fa fa-map-marker"></i> Location : @innerAdds.Location</li>
                                    <li><i class="fa fa-calendar"></i> Posted On : @innerAdds.CreatedDate  </li>

                                </ul>

                                <h6 style="float:right"><a class="title titlecollapse" target="_blank" href="@Url.Action("PreviewAdd","List",new { addId = innerAdds.AddId })">Read more.. </a></h6>

                            </div>
                        </div>

                    </li>
                }
            </ul>
        }
    }
</div>



