@model SubCategoryCount

@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main nav section -->
<div class="main-header-section" style="width:100%;">
    <div class="container">
        <div class="header-content-block">
            <div class="header-title-block">
                <h2>Explore Your City</h2>
                <p>
                    @*Discover what makes you feel better to sale or buy.*@
                    Search from over 15,00,000 classifieds & Post unlimited classifieds free!
                </p>
            </div>
            <div>

                @Html.Partial("_LoadData")
            </div>
        </div>
        <!-- header-content-block -->
    </div>
    <div class="overlay"></div>
</div>
<!-- main-header section -->
<!--Categories start-->
<div>

    <div class="popular-cities-section" style="max-width:970px !important;margin:auto;">
        <div class="container-fluid" id="divCategory">
            <div class="section-title">
                <h2>Categories</h2>
                <p>Find out & explore new businesses near your area and see what's happening !!!!</p>
            </div>

            <div class="row categories-service">

                <div class="col-md-2">

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @* <div class="icon"><i class="fa fa-car" aria-hidden="true"></i></div>*@
                        <div class="icon"><img src="~/images/icons/home/carx70.png" alt="Passenger Vehicles" /></div>
                        <h4><a href="#" category="Passenger Vehicles" type="Rent">Passenger Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Passenger Vehicles" type="Rent"> For Rent (<span id="pvRentCount"></span>)</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Passenger Vehicles" type="Sale">For Sale (<span id="pvSaleCount"></span>)</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>*@

                        <div class="icon"><img src="~/images/icons/home/itractorx70.png" alt="Agricultural Vehicles" /></div>
                        <h4><a href="#" category="Agricultural Vehicles" type="Rent">Agricultural Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Agricultural Vehicles" type="Rent">For Rent (<span id="avRentCount"></span> )</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Agricultural Vehicles" type="Sale">For Sale (<span id="avSaleCount"></span> )</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>


            </div>

            <div class="row categories-service">

                <div class="col-md-2">

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-train" aria-hidden="true"></i></div>*@
                        <div class="icon"><img src="~/images/icons/home/transportationx70.png" alt="Transportation Vehicles" /></div>
                        <h4><a href="#" category="Transportation Vehicles" type="Rent">Transportation Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Transportation Vehicles" type="Rent">For Rent (<span id="tvRentCount"></span> )</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Transportation Vehicles" type="Sale">For Sale (<span id="tvSaleCount"></span> )</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-ship" aria-hidden="true"></i></div>*@
                        <div class="icon"><img src="~/images/icons/home/cranex70.png" alt="Construction Vehicles" /></div>
                        <h4><a href="#" category="Construction Vehicles" type="Rent">Construction Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Construction Vehicles" type="Rent">For Rent (<span id="cvRentCount"></span> )</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Construction Vehicles" type="Sale">For Sale (<span id="cvSaleCount"></span> )</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>


            </div>

            <div class="row categories-service" style="margin-top:0px">
                <div class="col-md-4">

                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>*@
                        <div class="icon"><img src="~/images/icons/home/homex70.png" alt="Real Estate"/></div>
                        <h4><a href="#" category="Real Estate" type="Rent">Real Estate</a></h4>

                        <div class="categories">
                            <a href="#" category="Real Estate" type="Rent">For Rent (<span id="reRentCount"></span> )</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Real Estate" type="Sale">For Sale (<span id="reSaleCount"></span> )</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </div>

        <div class="popular-cities-section" style="max-width:1050px !important;margin:auto;">
            <div class="row">
                <section class="autoplay slider slider-home-all">
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Borewell Machines">
                            <img src="~/images/scroll/AV/AV1.jpg" alt="Borewell Machines" /><br>
                            <span class="direname" style="color:#337ab7">Borewell Machines</span>
                            <span class="direname" style="color:#337ab7">(@Model.AVSubCat.BorewellMachineCount)</span>
                        </a>                     
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Tractors">
                            <img src="~/images/scroll/AV/AV2.jpg" alt="Tractors"/><br>
                            <span class="direname" style="color:#337ab7">Tractors</span>
                            <span class="direname" style="color:#337ab7">(@Model.AVSubCat.TractorsCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Dozers">
                            <img src="~/images/scroll/AV/AV3.jpg" alt="Dozers"/><br>
                            <span class="direname" style="color:#337ab7">Dozers</span>
                            <span class="direname" style="color:#337ab7">(@Model.AVSubCat.DozerCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Combine Harvesters">

                            <img src="~/images/scroll/AV/AV4.jpg" alt="Combine Harvesters"/><br>
                            <span class="direname" style="color:#337ab7">Combine Harvesters</span>
                            <span class="direname" style="color:#337ab7">(@Model.AVSubCat.HarvesterCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Backhoe Loaders">

                            <img src="~/images/scroll/AV/AV5.jpg" alt="Backhoe Loaders"/><br>
                            <span class="direname" style="color:#337ab7">Backhoe Loaders</span>
                            <span class="direname" style="color:#337ab7">(@Model.AVSubCat.BackhoeLoaderCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Excavators">
                            <img src="~/images/scroll/AV/AV6.jpg" alt="Excavators"/><br>
                            <span class="direname" style="color:#337ab7">Excavators</span>
                            <span class="direname" style="color:#337ab7">(@Model.AVSubCat.ExcavatorsCount)</span>

                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Autos">
                            <img src="~/images/scroll/PV/PV1.jpg" alt="Autos"/><br>
                            <span class="direname" style="color:#337ab7">Autos</span>
                            <span class="direname" style="color:#337ab7">(@Model.PVSubCat.AutosCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Cars">
                            <img src="~/images/scroll/PV/PV2.jpg" alt="Cars"/><br>
                            <span class="direname" style="color:#337ab7">Cars</span>
                            <span class="direname" style="color:#337ab7">(@Model.PVSubCat.CarsCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Travel Vans">

                            <img src="~/images/scroll/PV/PV3.jpg" alt="Travel Vans"/><br>
                            <span class="direname" style="color:#337ab7">Travel Vans</span>
                            <span class="direname" style="color:#337ab7">(@Model.PVSubCat.TravelVansCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Bikes">

                            <img src="~/images/scroll/PV/PV4.jpg" alt="Bikes"/><br>
                            <span class="direname" style="color:#337ab7">Bikes</span>
                             <span class="direname" style="color:#337ab7">(@Model.PVSubCat.BikesCount)</span>
                        </a>
                    </div>
                   
                    
                  
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Wheel Loaders">

                            <img src="~/images/scroll/CV/CV5.jpg" alt="Wheel Loaders"/><br>
                            <span class="direname" style="color:#337ab7">Wheel Loaders</span>
                            <span class="direname" style="color:#337ab7">(@Model.CVSubCat.WheelLoaderCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Cranes">

                            <img src="~/images/scroll/CV/CV6.jpg" alt="Cranes"/><br>
                            <span class="direname" style="color:#337ab7">Cranes</span>
                            <span class="direname" style="color:#337ab7">(@Model.CVSubCat.CraneCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Transit Mixers">

                            <img src="~/images/scroll/CV/CV7.jpg" alt="Transit Mixers"/><br>
                            <span class="direname" style="color:#337ab7">Transit Mixers</span>
                            <span class="direname" style="color:#337ab7">(@Model.CVSubCat.TransitMixerCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Soil Compactors">

                            <img src="~/images/scroll/CV/CV8.jpg" alt="Soil Compactors" /><br>
                            <span class="direname" style="color:#337ab7">Soil Compactors</span>
                            <span class="direname" style="color:#337ab7">(@Model.CVSubCat.SoilCompactorCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Tippers">

                            <img src="~/images/scroll/CV/CV9.jpg" alt="Tippers"/><br>
                            <span class="direname" style="color:#337ab7">Tippers</span>
                            <span class="direname" style="color:#337ab7">(@Model.CVSubCat.TippersCount)</span>
                        </a>
                    </div>

                    <div class="slide">
                        <a class="scrollimg" data-category="Transportation Vehicles" data-subcategory="Autos - 3 wheelers">
                            <img src="~/images/scroll/TV/TV1.jpg" alt="Autos - 3 wheelers" /><br>
                            <span class="direname" style="color:#337ab7">Autos - 3 wheelers</span>
                            <span class="direname" style="color:#337ab7">(@Model.TVSubCat.Autos3wheelerCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Transportation Vehicles" data-subcategory="Mini Trucks - 4 wheelers">
                            <img src="~/images/scroll/TV/TV2.jpg" alt="Mini Trucks - 4 wheelers" /><br>
                            <span class="direname" style="color:#337ab7">Mini Trucks - 4 wheelers</span>
                            <span class="direname" style="color:#337ab7">(@Model.TVSubCat.MiniTrucks4wheelerCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Transportation Vehicles" data-subcategory="Lorry Trucks">

                            <img src="~/images/scroll/TV/TV3.jpg" alt="Lorry Trucks" /><br>
                            <span class="direname" style="color:#337ab7">Lorry Trucks</span>
                            <span class="direname" style="color:#337ab7">(@Model.TVSubCat.LorryTrucksCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Transportation Vehicles" data-subcategory="DCM Trucks">

                            <img src="~/images/scroll/TV/TV4.jpg" alt="DCM Trucks"/><br>
                            <span class="direname" style="color:#337ab7">DCM Trucks</span>
                            <span class="direname" style="color:#337ab7">(@Model.TVSubCat.DCMTrucksCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Real Estate" data-subcategory="Apartments">
                            <img src="~/images/scroll/RE/RE1.jpg" alt="Apartments"/><br>
                            <span class="direname" style="color:#337ab7">Apartments</span>
                            <span class="direname" style="color:#337ab7">(@Model.RESubCat.ApartmentsCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Real Estate" data-subcategory="Plots/Land">
                            <img src="~/images/scroll/RE/RE2.jpg"  alt="Plots/Land"/><br>
                            <span class="direname" style="color:#337ab7">Plots/Land</span>
                            <span class="direname" style="color:#337ab7">(@Model.RESubCat.PlotsLandCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Real Estate" data-subcategory="Agricultural Land">

                            <img src="~/images/scroll/RE/RE3.jpg"  alt="Agricultural Land"/><br>
                            <span class="direname" style="color:#337ab7">Agricultural Land</span>
                            <span class="direname" style="color:#337ab7">(@Model.RESubCat.AgriculturalLandCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Real Estate" data-subcategory="Shops & Offices">

                            <img src="~/images/scroll/RE/RE4.jpg" alt="Shops & Offices"/><br>
                            <span class="direname" style="color:#337ab7">Shops & Offices</span>
                            <span class="direname" style="color:#337ab7">(@Model.RESubCat.ShopsOfficesCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Real Estate" data-subcategory="Independent Houses & Villas">

                            <img src="~/images/scroll/RE/RE5.jpg" alt="Independent Houses & Villas"/><br>
                            <span class="direname" style="color:#337ab7">Independent Houses & Villas</span>
                            <span class="direname" style="color:#337ab7">(@Model.RESubCat.IndependentHousesVillasCount)</span>
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Real Estate" data-subcategory="Hostels & PG">

                            <img src="~/images/scroll/RE/RE6.jpg"  alt="Hostels & PG"/><br>
                            <span class="direname" style="color:#337ab7">Hostels & PG</span>
                            <span class="direname" style="color:#337ab7">(@Model.RESubCat.HostelsPGCount)</span>
                        </a>
                    </div> 


                </section>

            </div>
        </div>
    </div>
</div>

<!--Categories end-->



@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CssNew/responsive.css")" rel="stylesheet" />

    <link href="~/Content/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/slick/slick-custom.css" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/CssNew/style.css")" rel="stylesheet" />*@
}


<script src="~/Scripts/slick/slick.min.js"></script>


<script>
    $(document).ready(function () {

        $(".autoplay").slick({

            variableWidth: true,

            slidesToShow: 8,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true,
            dots: false,
            pauseOnHover: false,
            responsive: [

                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        variableWidth: false,
                        slidesToShow: 2,

                    }
                }]
        });

        $('.scrollimg').click(function () {
            var currentCat = $(this)[0].getAttribute("data-category");
            var currentSubCat = $(this)[0].getAttribute("data-subcategory");
            window.location.href = "/List/Index?category=" + currentCat + "&subCategory=" + escape(currentSubCat);
        });

        GetAddsCount();

        $("#divCategory a").click(function () {
            var selectedCategory = $(this).attr("category");
            var type = $(this).attr("type");
            //  window.target = "_blank";
            window.location.href = "/List/Index?category=" + selectedCategory + "&type=" + type;
        })

        function GetAddsCount() {
            $.ajax({
                url: '/List/GetCount',
                type: 'GET',
                success: function (data) {
                    $("#pvSaleCount").text(data.pvSaleCount);
                    $("#pvRentCount").text(data.pvRentCount);
                    $("#avRentCount").text(data.avRentCount);
                    $("#avSaleCount").text(data.avSaleCount);
                    $("#tvRentCount").text(data.tvRentCount);
                    $("#tvSaleCount").text(data.tvSaleCount);
                    $("#cvRentCount").text(data.cvRentCount);
                    $("#cvSaleCount").text(data.cvSaleCount);
                    $("#reRentCount").text(data.reRentCount);
                    $("#reSaleCount").text(data.reSaleCount);

                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                complete: function (data) {

                }

            });
        }
    });
</script>