
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- main nav section -->
<div class="main-header-section" style="width:100%;">
    <div class="container">
        <div class="header-content-block">
            <div class="header-title-block">
                <h2>Explore Your City</h2>
                <p>
                    @*Discover what makes you feel better to sale or buy.*@
                    Search from over 15,00,000 classifieds & Post unlimited classifieds free!
                </p>
            </div>
            <div>

                @Html.Partial("_LoadData")
            </div>
        </div>
        <!-- header-content-block -->
    </div>
    <div class="overlay"></div>
</div>
<!-- main-header section -->
<!--Categories start-->
<div>

    <div class="popular-cities-section" style="max-width:970px !important;margin:auto;">
        <div class="container-fluid" id="divCategory">
            <div class="section-title">
                <h2>Categories</h2>
                <p>Find out & explore new businesses near your area and see what's happening !!!!</p>
            </div>

            <div class="row categories-service">

                <div class="col-md-2">

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @* <div class="icon"><i class="fa fa-car" aria-hidden="true"></i></div>*@
                        <div class="icon"><img src="~/images/icons/home/carx70.png" /></div>
                        <h4><a href="#" category="Passenger Vehicles" type="Rent">Passenger Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Passenger Vehicles" type="Rent"> For Rent (<span id="pvRentCount"></span>)</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Passenger Vehicles" type="Sale">For Sale (<span id="pvSaleCount"></span>)</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-truck" aria-hidden="true"></i></div>*@

                        <div class="icon"><img src="~/images/icons/home/itractorx70.png" /></div>
                        <h4><a href="#" category="Agricultural Vehicles" type="Rent">Agricultural Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Agricultural Vehicles" type="Rent">For Rent (<span id="avRentCount"></span> )</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Agricultural Vehicles" type="Sale">For Sale (<span id="avSaleCount"></span> )</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>


            </div>

            <div class="row categories-service">

                <div class="col-md-2">

                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-train" aria-hidden="true"></i></div>*@
                        <div class="icon"><img src="~/images/icons/home/transportationx70.png" /></div>
                        <h4><a href="#" category="Transportation Vehicles" type="Rent">Transportation Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Transportation Vehicles" type="Rent">For Rent (<span id="tvRentCount"></span> )</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Transportation Vehicles" type="Sale">For Sale (<span id="tvSaleCount"></span> )</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-ship" aria-hidden="true"></i></div>*@
                        <div class="icon"><img src="~/images/icons/home/cranex70.png" /></div>
                        <h4><a href="#" category="Construction Vehicles" type="Rent">Construction Vehicles</a></h4>

                        <div class="categories">
                            <a href="#" category="Construction Vehicles" type="Rent">For Rent (<span id="cvRentCount"></span> )</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Construction Vehicles" type="Sale">For Sale (<span id="cvSaleCount"></span> )</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">

                </div>


            </div>

            <div class="row categories-service" style="margin-top:0px">
                <div class="col-md-4">

                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="categorybox">
                        @*<div class="icon"><i class="fa fa-home" aria-hidden="true"></i></div>*@
                        <div class="icon"><img src="~/images/icons/home/homex70.png" /></div>
                        <h4><a href="#" category="Real Estate" type="Rent">Real Estate</a></h4>

                        <div class="categories">
                            <a href="#" category="Real Estate" type="Rent">For Rent (<span id="reRentCount"></span> )</a>
                        </div>
                        <div class="categories">
                            <a href="#" category="Real Estate" type="Sale">For Sale (<span id="reSaleCount"></span> )</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">

                </div>
            </div>

        </div>

        <div class="popular-cities-section" style="max-width:1050px !important;margin:auto;">
            <div class="row">
                <section class="autoplay slider maincategory">
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Borewell Machine">
                            <img src="~/images/scroll/AV/AV1.png"  /><br>
                            <span class="direname" style="color:#337ab7">Borewell Machine</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.AVSubCat.BorewellMachineCount)</span>*@
                        </a>
                        @*<a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Borewell Machine">
                                <img src="~/images/scroll/AV/AV1.png" style="background-color:#f70;height:70px;width:70px;" /><br />
                                <span class="direname" style="color:#337ab7">Borewell Machine</span>
                            </a>*@
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Tractors">
                            <img src="~/images/scroll/AV/AV2.png" /><br>
                            <span class="direname" style="color:#337ab7">Tractors</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.AVSubCat.TractorsCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Dozer">
                            <img src="~/images/scroll/AV/AV3.jpg" /><br>
                            <span class="direname" style="color:#337ab7">Dozer</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.AVSubCat.DozerCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Combine Harvester">

                            <img src="~/images/scroll/AV/AV4.jpg" /><br>
                            <span class="direname" style="color:#337ab7">Combine Harvester</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.AVSubCat.HarvesterCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Backhoe Loader">

                            <img src="~/images/scroll/AV/AV5.jpg" /><br>
                            <span class="direname" style="color:#337ab7">Backhoe Loader</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.AVSubCat.BackhoeLoaderCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Agricultural Vehicles" data-subcategory="Excavators">
                            <img src="~/images/scroll/AV/AV6.png" /><br>
                            <span class="direname" style="color:#337ab7">Excavators</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.AVSubCat.ExcavatorsCount)</span>*@

                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Autos">
                            <img src="~/images/scroll/PV/PV1.png" /><br>
                            <span class="direname" style="color:#337ab7">Autos</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.PVSubCat.AutosCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Cars">
                            <img src="~/images/scroll/PV/PV2.png" /><br>
                            <span class="direname" style="color:#337ab7">Cars</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.PVSubCat.CarsCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Travel Vans">

                            <img src="~/images/scroll/PV/PV3.png" /><br>
                            <span class="direname" style="color:#337ab7">Travel Vans</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.PVSubCat.TravelVansCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Passenger Vehicles" data-subcategory="Bikes">

                            <img src="~/images/scroll/PV/PV4.png" /><br>
                            <span class="direname" style="color:#337ab7">Bikes</span>
                            @* <span class="direname" style="color:#337ab7">(@Model.SubCatCount.PVSubCat.BikesCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Tractors">
                            <img src="~/images/scroll/CV/CV1.png"  /><br>
                            <span class="direname" style="color:#337ab7">Tractors</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.TractorsCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Dozers">
                            <img src="~/images/scroll/CV/CV2.jpg"  /><br>
                            <span class="direname" style="color:#337ab7">Dozers</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.DozerCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Backhoe_Loader">

                            <img src="~/images/scroll/CV/CV3.jpg"  /><br>
                            <span class="direname" style="color:#337ab7">Backhoe_Loader</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.BackhoeLoaderCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Excavators">

                            <img src="~/images/scroll/CV/CV4.jpg"  /><br>
                            <span class="direname" style="color:#337ab7">Excavators</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.ExcavatorsCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Wheel Loader">

                            <img src="~/images/scroll/CV/CV5.jpg"/><br>
                            <span class="direname" style="color:#337ab7">Wheel Loader</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.WheelLoaderCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Crane">

                            <img src="~/images/scroll/CV/CV6.png"/><br>
                            <span class="direname" style="color:#337ab7">Crane</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.CraneCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Transit Mixer">

                            <img src="~/images/scroll/CV/CV7.png"/><br>
                            <span class="direname" style="color:#337ab7">Transit Mixer</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.TransitMixerCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Soil Compactor">

                            <img src="~/images/scroll/CV/CV8.jpg"  /><br>
                            <span class="direname" style="color:#337ab7">Soil Compactor</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.SoilCompactorCount)</span>*@
                        </a>
                    </div>
                    <div class="slide">
                        <a class="scrollimg" data-category="Construction Vehicles" data-subcategory="Tippers">

                            <img src="~/images/scroll/CV/CV9.jpg"/><br>
                            <span class="direname" style="color:#337ab7">Tippers</span>
                            @*<span class="direname" style="color:#337ab7">(@Model.SubCatCount.CVSubCat.TippersCount)</span>*@
                        </a>
                    </div>


                </section>

            </div>
        </div>
    </div>
</div>

<!--Categories end-->



@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CssNew/responsive.css")" rel="stylesheet" />

    <link href="~/Content/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/slick/slick-theme.css" rel="stylesheet" />
    <link href="~/Content/slick/slick-custom.css" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/CssNew/style.css")" rel="stylesheet" />*@
}


<script src="~/Scripts/slick/slick.min.js"></script>


<script>
    $(document).ready(function () {


        $(".autoplay").slick({

            variableWidth: true,

            slidesToShow: 8,
            slidesToScroll: 1,
            autoplay: true,
            autoplaySpeed: 2000,
            arrows: true,
            dots: false,
            pauseOnHover: false,
            responsive: [

                {
                    breakpoint: 768,
                    settings: {
                        slidesToShow: 3
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        variableWidth: false,
                        slidesToShow: 2,

                    }
                }]
        });


        GetAddsCount();
        $("#divCategory a").click(function () {
            var selectedCategory = $(this).attr("category");
            var type = $(this).attr("type");
            //  window.target = "_blank";
            window.location.href = "/List/Index?category=" + selectedCategory + "&type=" + type;
        })
        function GetAddsCount() {
            $.ajax({
                url: '/List/GetCount',
                type: 'GET',
                success: function (data) {
                    $("#pvSaleCount").text(data.pvSaleCount);
                    $("#pvRentCount").text(data.pvRentCount);
                    $("#avRentCount").text(data.avRentCount);
                    $("#avSaleCount").text(data.avSaleCount);
                    $("#tvRentCount").text(data.tvRentCount);
                    $("#tvSaleCount").text(data.tvSaleCount);
                    $("#cvRentCount").text(data.cvRentCount);
                    $("#cvSaleCount").text(data.cvSaleCount);
                    $("#reRentCount").text(data.reRentCount);
                    $("#reSaleCount").text(data.reSaleCount);

                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                complete: function (data) {

                }

            });
        }
    });
</script>