@model AddsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "List", FormMethod.Post, new { data_toggle = "validator" }))
{

    <div>
        <div class="breadcrumb-block">

        </div>
        <div class="add-listing-wrap">
            <div class="container">
                <div class="add-listing-tost-block" style="max-width:970px !important;margin:auto;">
                    <p>
                        <strong>Existing User? Please </strong><a href="login.html">Sign in.</a> <strong>New here? </strong>Please <strong>continue</strong> and enter your <strong>Name</strong> & <strong>Email</strong> Address along with listing information at the bottom.
                    </p>
                </div>
                <div>
                    <input type="text" id="validationTemp" style="display:none" required />
                </div>
                <div class="listing-block businessinfo-listing" style="max-width:970px !important;margin:auto;">
                    <h4>Submit a Free Classified Add</h4>
                    <div class="row">
                        <!--  Container -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt40column">
                            <!--Sorting-->
                            <div class="sorting well">
                                <form class=" form-inline pull-left">
                                    Sort By :
                                    <select class="span2">
                                        <option>Default</option>
                                        <option>Name</option>
                                        <option>Pirce</option>
                                        <option>Date </option>
                                    </select>
                                    &nbsp;&nbsp;
                                    Show:
                                    <select class="span1">
                                        <option>10</option>
                                        <option>15</option>
                                        <option>20</option>
                                        <option>25</option>
                                        <option>30</option>
                                    </select>
                                </form>
                                <div class="btn-group pull-right">
                                    <button class="btn " id="list"><i class="fa fa-th-list"></i> </button>
                                    <button class="btn btn-orange" id="grid"><i class="fa fa-th  fa-white"></i></button>
                                </div>
                            </div>
                            <!-- Listing-->
                            <div class="mt40" id="bloglist">
                                <div class="bloglisting grid" id="gridTest">

                                    @{
                                        foreach (var add in Model.AddsGrid)
                                        {
                                            <ul class="mt30 clearfix row">
                                                @foreach (var innerAdds in add)
                                                {
                                                    <li class="col-sm-4">
                                                        <div class="searchgrid" style="width:100%;float:left">
                                                            <a class="thumbnail" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })"><img src="~/Content/img/product2.jpg" alt=""></a>
                                                            @if (innerAdds.Category == Constants.RealEstate)
                                                            {
                                                                <div class="category color1"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                                                            }
                                                            else if (innerAdds.Category == Constants.ConstructionVehicle)
                                                            {
                                                                <div class="category color2"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                                                            }
                                                            else if (innerAdds.Category == Constants.TransportationVehicle)
                                                            {
                                                                <div class="category color3"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                                                            }
                                                            else if (innerAdds.Category == Constants.PassengerVehicle)
                                                            {
                                                                <div class="category color4"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                                                            }
                                                            else if (innerAdds.Category == Constants.AgriculturalVehicle)
                                                            {
                                                                <div class="category color5"> <i class="fa fa-home"></i> @innerAdds.Category</div>
                                                            }

                                                            <div>
                                                                <h4><a class="title titlecollapse" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })">@innerAdds.Title </a></h4>
                                                                <ul class="icondetail">
                                                                    <li><i class="fa fa-rupee"></i>Price : 1200000</li>
                                                                    <li><i class="fa fa-map-marker"></i> Location : @innerAdds.Location</li>
                                                                    <li><i class="fa fa-calendar"></i> Posted On : @innerAdds.CreatedDate  </li>
                                                                </ul>

                                                                <h6 style="float:right"><a class="title titlecollapse" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })">Read more.. </a></h6>


                                                                @*<div style="width:100%">
                                                                        <div style="width:60%;float:left;height:30px;">

                                                                        </div>
                                                                        <div style="border:1px solid gray;width:39%;float:right;height:30px;">
                                                                            <h6><a class="title titlecollapse" style="float:right" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })">Read more.. </a></h6>
                                                                        </div>
                                                                    </div>*@

                                                            </div>
                                                            @*<div>
                                                                    <div class="share"> Share On : <a data-original-title="Facebook" class="tooltip-test"><i class="fa fa-facebook"></i></a> <a data-original-title="Twitter" class="tooltip-test"><i class="fa fa-twitter"></i></a> <a data-original-title="Google Plus" class="tooltip-test"><i class="fa fa-google-plus"></i></a> </div>
                                                                    <a class="btn comment"><i class="fa fa-comment-o"></i> 5 Comments</a>
                                                                </div>*@
                                                        </div>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    }

                                    <!-- Paging-->
                                    @*<div class="mt30 clearfix">
                                            <ul class="pagination pull-right">
                                                <li><a>Prev</a> </li>
                                                <li class="active"> <a>1</a> </li>
                                                <li><a>2</a> </li>
                                                <li><a>3</a> </li>
                                                <li><a>4</a> </li>
                                                <li><a>Next</a> </li>
                                            </ul>
                                        </div>*@

                                    <div class="mt30 clearfix" id="divpage-number">

                                        <div id="page-selection" class="pagination pull-right"></div>

                                    </div>
                                </div>
                                <div class="bloglisting list" id="gridTest1">
                                    <ul>
                                        @foreach (var add in Model.Adds)
                                        {
                                            <li class="clearfix">
                                                <div class="col-sm-3">
                                                    <a class="thumbnail" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = add.AddId })"><img src="~/Content/img/product2.jpg" alt=""></a>

                                                    @if (add.Category == Constants.RealEstate)
                                                    {
                                                        <div class="personal category color1"> <i class="fa fa-user"></i> @add.Category</div>
                                                    }
                                                    else if (add.Category == Constants.ConstructionVehicle)
                                                    {
                                                        <div class="personal category color2"> <i class="fa fa-user"></i> @add.Category</div>
                                                    }
                                                    else if (add.Category == Constants.TransportationVehicle)
                                                    {
                                                        <div class="personal category color3"> <i class="fa fa-user"></i> @add.Category</div>
                                                    }
                                                    else if (add.Category == Constants.PassengerVehicle)
                                                    {
                                                        <div class="personal category color4"> <i class="fa fa-user"></i> @add.Category</div>
                                                    }
                                                    else if (add.Category == Constants.AgriculturalVehicle)
                                                    {
                                                        <div class="personal category color5"> <i class="fa fa-user"></i> @add.Category</div>
                                                    }
                                                </div>
                                                <div class="col-sm-9">
                                                    <h4><a class="title" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = add.AddId })">@add.Title </a></h4>
                                                    <ul class="icondetail">
                                                        <li><i class="fa fa-rupee"></i>1200000</li>
                                                        <li><i class="fa fa-map-marker"></i> Location : @add.Location</li>
                                                        <li><i class="fa fa-calendar"></i> Posted On : @add.CreatedDate  </li>


                                                    </ul>
                                                    <div class="tag"></div>
                                                    <div class="discrption">
                                                        <div style="white-space: nowrap; overflow:hidden !important;text-overflow: ellipsis;width:100%;float:left">@add.Description</div>
                                                        <div>
                                                            <h6 style="float:right"><a class="title titlecollapse" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = add.AddId })">...Read more</a></h6>

                                                        </div>
                                                    </div>
                                                </div>
                                                @*<div class="col-sm-2">
                                                        <div class="share">
                                                            Share On : <br>
                                                            <a data-original-title="Facebook" class="tooltip-test"><i class="fa fa-facebook"></i></a> <a data-original-title="Twitter" class="tooltip-test"><i class="fa fa-twitter"></i></a> <a data-original-title="Google Plus" class="tooltip-test"><i class="fa fa-google-plus"></i></a>
                                                        </div>
                                                        <a class="btn comment"><i class="fa fa-comment-o"></i> 10 Comments</a>
                                                    </div>*@
                                            </li>

                                        }
                                    </ul>
                                    <div id="paginglocation">

                                    </div>
                                    <!-- Paging-->
                                    @*<div class="mt30 clearfix">
                                            <ul class="pagination pull-right">
                                                <li><a>Prev</a> </li>
                                                <li class="active"> <a>1</a> </li>
                                                <li><a>2</a> </li>
                                                <li><a>3</a> </li>
                                                <li><a>4</a> </li>
                                                <li><a>Next</a> </li>
                                            </ul>
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    <br />
    <br />


    <div class="loader-wrap" style="display:none">
        <div class="loader">
            <span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span>
            <span class="loader-item"></span><span class="loader-item"></span>
        </div>
    </div>

                                        }
@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/List/color1.css" rel="stylesheet" />
}


@section scripts{
    <script src="~/Scripts/List/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Scripts/List/zoomsl-3.0.min.js"></script>
    <script src="~/Scripts/List/custom.js"></script>
    <script src="~/Scripts/ScriptsNew/jquery.bootpag.min.js"></script>

}

<script type="text/javascript">
    $(document).ready(function () {
        //var win = $(window);
        //win.scroll(function () {

        //    if ($(window).scrollTop() + $(window).height() > $(document).height() - ($(".footer-wrap").height() + 200)) {

        //    }
        //});

        $('#page-selection').bootpag({
            total: @Model.PageCount,
            page:@Model.CurrentPageIndex,
            maxVisible: 10,
            leaps: true,
            firstLastUse: true,
            first: 'First',
            last: 'Last'
        }).on('page', function(event, num){

            //$('body').append('<div id="requestOverlay" class="request-overlay"></div>'); 
            /*Create overlay on demand*/
            /*Show overlay*/
            getAddsbyPage(num);
        })
    });

    function getAddsbyPage(pageNum){
        var page = parseInt(pageNum);

        $.ajax({
            url: '@Url.Action("DisplayAdds")',
            type: 'POST',
            dataType: "html",
            data: { "currentPageIndex": page },
            success: function (data) {

                console.log(@Model.CurrentPageIndex);

                $("#gridTest").html('');

                var gridHtml = "";
                data
                @foreach (var add in Model.AddsGrid)
                {
                  <text>

                gridHtml = gridHtml + '<ul class="mt30 clearfix row">';


                @foreach (var innerAdds in add)
                 {
                     <text>
                gridHtml = gridHtml + '<li class="col-sm-4">';
                gridHtml = gridHtml + '<div class="searchgrid" style="width:100%;float:left">';
                gridHtml = gridHtml + '<a class="thumbnail" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })"><img src="~/Content/img/product2.jpg" alt=""></a>';
                @if (innerAdds.Category == Constants.RealEstate)
                {
                    <text>
                gridHtml = gridHtml + ' <div class="category color1"> <i class="fa fa-home"></i> @innerAdds.Category</div>';

                    </text>
                }
                @if (innerAdds.Category == Constants.ConstructionVehicle)
                {
                    <text>
                gridHtml = gridHtml + ' <div class="category color1"> <i class="fa fa-home"></i> @innerAdds.Category</div>';

                    </text>
                }
                gridHtml = gridHtml + '<div>';
                gridHtml = gridHtml + '<h4><a class="title titlecollapse" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })">@innerAdds.Title </a></h4>';
                gridHtml = gridHtml + '<ul class="icondetail">';
                gridHtml = gridHtml + '<li><i class="fa fa-rupee"></i>Price : 1200000</li>';
                gridHtml = gridHtml + '<li><i class="fa fa-map-marker"></i> Location : @innerAdds.Location</li>';
                gridHtml = gridHtml + '<li><i class="fa fa-calendar"></i> Posted On : @innerAdds.CreatedDate  </li>';
                gridHtml = gridHtml + ' </ul>';
                gridHtml = gridHtml + '<h6 style="float:right"><a class="title titlecollapse"  target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })">Read more.. </a></h6>';
                gridHtml = gridHtml + '</div>';
                gridHtml = gridHtml + '</div></li>';


                     </text>
                 }


                gridHtml = gridHtml + "</ul>";
                </text>




                }
                $("#gridTest").html(gridHtml);
                //$(".bloglisting").css("display", "block");

            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            },
            complete: function (data) {
                $("#requestOverlay").hide();/*Remove overlay*/
            }
        });
    }

</script>
