@model AddsModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Index", "List", FormMethod.Post, new { data_toggle = "validator" }))
{

    <div>
        <div class="breadcrumb-block">

        </div>
        <div class="add-listing-wrap">
            <div class="container">
                <div class="add-listing-tost-block" style="max-width:970px !important;margin:auto;">
                    <p>
                        <strong>Existing User? Please </strong><a href="login.html">Sign in.</a> <strong>New here? </strong>Please <strong>continue</strong> and enter your <strong>Name</strong> & <strong>Email</strong> Address along with listing information at the bottom.
                    </p>
                </div>
                <div>
                    <input type="text" id="validationTemp" style="display:none" required />
                </div>
                <div class="listing-block businessinfo-listing" style="max-width:970px !important;margin:auto;">
                    <h4>Submit a Free Classified Add</h4>
                    <div class="row">
                        <!--  Container -->
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mt40column">
                            <!--Sorting-->
                            <div class="sorting well">
                                <form class=" form-inline pull-left">
                                    Sort By :
                                    <select class="span2">
                                        <option>Default</option>
                                        <option>Name</option>
                                        <option>Pirce</option>
                                        <option>Date </option>
                                    </select>
                                    &nbsp;&nbsp;
                                    Show:
                                    <select class="span1">
                                        <option>10</option>
                                        <option>15</option>
                                        <option>20</option>
                                        <option>25</option>
                                        <option>30</option>
                                    </select>
                                </form>
                                <div class="btn-group pull-right">
                                    <button class="btn " id="list"><i class="fa fa-th-list"></i> </button>
                                    <button class="btn btn-orange" id="grid"><i class="fa fa-th  fa-white"></i></button>
                                </div>
                            </div>
                            <!-- Listing-->
                            <div class="mt40" id="bloglist">
                                <div class="bloglisting list" id="content">
                                    @Html.Partial("_FillSearchResults", Model)
                                    </div>
                                </div>
                            
                        </div>
                    </div>
                </div>
                

            </div>
        </div>
    </div>
}
    <br />
    <br />
<div class="mt30 clearfix" id="divpage-number">

    <div id="page-selection" class="pagination pull-right"></div>

</div>

    <div class="loader-wrap" style="display:none">
        <div class="loader">
            <span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span>
            <span class="loader-item"></span><span class="loader-item"></span>
        </div>
    </div>

                                        
@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/List/color1.css" rel="stylesheet" />
}


@section scripts{
    <script src="~/Scripts/List/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script src="~/Scripts/List/zoomsl-3.0.min.js"></script>
    <script src="~/Scripts/List/custom.js"></script>
    <script src="~/Scripts/ScriptsNew/jquery.bootpag.min.js"></script>

}

<script type="text/javascript">
    $(document).ready(function () {
        //var win = $(window);
        //win.scroll(function () {

        //    if ($(window).scrollTop() + $(window).height() > $(document).height() - ($(".footer-wrap").height() + 200)) {

        //    }
        //});

        $('#page-selection').bootpag({
            total: @Model.PageCount,
            page:@Model.CurrentPageIndex,
            maxVisible: 10,
            leaps: true,
            firstLastUse: true,
            first: 'First',
            last: 'Last'
        }).on('page', function(event, num){

            //$('body').append('<div id="requestOverlay" class="request-overlay"></div>'); 
            /*Create overlay on demand*/
            /*Show overlay*/
            getAddsbyPage(num);
        })
    });

    function getAddsbyPage(pageNum){
        var page = parseInt(pageNum);

        $.ajax({
            url: '@Url.Action("DisplayAdds")',
            type: 'POST',
            dataType: "html",
            data: { "currentPageIndex": page },
            success: function (data) {

                console.log(@Model.CurrentPageIndex);
               
               /// $("#gridTest").html('');
                $("#content").html(data);
                //$(".bloglisting").css("display", "block");
                var gridHtml = "";
                @*data
                @foreach (var add in Model.AddsGrid)
                {
                  <text>

                gridHtml = gridHtml + '<ul class="mt30 clearfix row">';


                @foreach (var innerAdds in add)
                 {
                     <text>
                gridHtml = gridHtml + '<li class="col-sm-4">';
                gridHtml = gridHtml + '<div class="searchgrid" style="width:100%;float:left">';
                gridHtml = gridHtml + '<a class="thumbnail" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })"><img src="~/Content/img/product2.jpg" alt=""></a>';
                @if (innerAdds.Category == Constants.RealEstate)
                {
                    <text>
                gridHtml = gridHtml + ' <div class="category color1"> <i class="fa fa-home"></i> @innerAdds.Category</div>';

                    </text>
                }
                @if (innerAdds.Category == Constants.ConstructionVehicle)
                {
                    <text>
                gridHtml = gridHtml + ' <div class="category color1"> <i class="fa fa-home"></i> @innerAdds.Category</div>';

                    </text>
                }
                gridHtml = gridHtml + '<div>';
                gridHtml = gridHtml + '<h4><a class="title titlecollapse" target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })">@innerAdds.Title </a></h4>';
                gridHtml = gridHtml + '<ul class="icondetail">';
                gridHtml = gridHtml + '<li><i class="fa fa-rupee"></i>Price : 1200000</li>';
                gridHtml = gridHtml + '<li><i class="fa fa-map-marker"></i> Location : @innerAdds.Location</li>';
                gridHtml = gridHtml + '<li><i class="fa fa-calendar"></i> Posted On : @innerAdds.CreatedDate  </li>';
                gridHtml = gridHtml + ' </ul>';
                gridHtml = gridHtml + '<h6 style="float:right"><a class="title titlecollapse"  target="_blank" href="@Url.Action("PreviewAdd","User",new { addId = innerAdds.AddId })">Read more.. </a></h6>';
                gridHtml = gridHtml + '</div>';
                gridHtml = gridHtml + '</div></li>';


                     </text>
                 }*@


                //gridHtml = gridHtml + "</ul>";
                //</text>




                //}
                //$("#gridTest").html(gridHtml);
                //$(".bloglisting").css("display", "block");

            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            },
            complete: function (data) {
                $("#requestOverlay").hide();/*Remove overlay*/
            }
        });
    }

</script>
