@model PreviewAdd
@{
    ViewBag.Title = "Preview Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    @*<div class="breadcrumb-block">

        </div>*@
    <div class="add-listing-wrap">
        <div class="container">
            <div class="add-listing-tost-block" style="max-width:970px !important;margin:auto;">
                <p>
                    @*<strong>Existing User? Please </strong><a href="login.html">Sign in.</a> <strong>New here? </strong>Please <strong>continue</strong> and enter your <strong>Name</strong> & <strong>Email</strong> Address along with listing information at the bottom.*@
                </p>
            </div>
            <div>
                <input type="text" id="validationTemp" style="display:none" required />
            </div>
            <div class="listing-block businessinfo-listing" style="max-width:970px !important;margin:auto;">

                <div class="row">
                    <div class="col-md-8 col-sm-6">
                        <h2 style="text-align:left;"> @Model.Add.Title @*test title for agricultural vebiclaes for the location andhra pradesh*@</h2>
                        <div>
                            <i class="fa fa-map-marker"></i> @Model.Add.Location  
                            <br /><i class="fa fa-calendar"></i> Posted on: @Model.Add.CreatedDate 
                            <br /> Add id: @Model.Add.AddId
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <div class="price pull-right"> <i class="fa fa-tags"></i>  &#8377; @Model.Add.Price</div>
                        @*<a class="pull-right btn btn-orange btn-lg">Contact</a>*@
                    </div>
                </div>

                <!-- Product Details-->
                <div class="row mt40">
                    <div class="col-md-1">

                    </div>
                    <!-- Left Image-->
                    <div class="col-md-10 col-xs-12 col-sm-12">

                        <div class="col-md-1 col-xs-1 col-sm-1 image-frame-arrow">
                            <div>
                                <img id="imgLeft" style="cursor:pointer;float:right" src="~/images/leftx30.png" />

                            </div>

                            @*<div class="image-frame-arrow">
                                    <img id="imgLeft" style="cursor:pointer;text-align:center" src="~/images/left.png" />
                                </div>*@

                        </div>
                        <div class="col-md-10 col-xs-10 col-sm-10">

                            <ul class="thumbnails mainimage clearfix image-frame">
                                <li> <img class="my-foto-container image-frame" src="@Model.Add.ImgUrlPrimary" data-large="@Model.Add.ImgUrlPrimary" alt=""  data-id="1" /> </li>
                            </ul>
                            <ul class="thumbnails mainimage clearfix mt10">
                                <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3" style="position:relative">
                                    <img class="zoom image-grid image-grid1" src="@Model.Add.ImgUrlPrimary" data-large="@Model.Add.ImgUrlPrimary"  alt=""  data-id="1" >
                                    <div class="image-hover"></div>
                                </li>
                                <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3">
                                    @{
                                        if (Model.Add.ImgUrlSeconday != "")
                                        {
                                            <img class="zoom image-grid image-grid2" src="@Model.Add.ImgUrlSeconday" data-large="@Model.Add.ImgUrlSeconday" alt="" data-id="2" >
                                            <div class="image-hover"></div>
                                        }

                                    }

                                </li>
                                <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3">

                                    @{
                                        if (Model.Add.ImgUrlThird != "")
                                        {
                                            <img class="zoom image-grid image-grid3" src="@Model.Add.ImgUrlThird" data-large="@Model.Add.ImgUrlThird"  alt="" data-id="3">
                                            <div class="image-hover"></div>
                                        }

                                    }

                                </li>
                                <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3">

                                    @{
                                        if (Model.Add.ImgUrlFourth != "")
                                        {
                                            <img class="zoom image-grid image-grid4" src="@Model.Add.ImgUrlFourth" data-large="@Model.Add.ImgUrlFourth"  alt="" data-id="4" >
                                            <div class="image-hover"></div>
                                        }

                                    }


                                </li>
                            </ul>
                            <div class="mt10">* Mouse move on Image to zoom</div>
                        </div>
                        <div class="col-md-1 col-xs-1 col-sm-1 image-frame-arrow">
                            @*<img style="cursor:pointer;text-align:center" src="~/images/expand.png" />*@
                            <div>
                                <img id="imgRigth" style="cursor:pointer;float:left" src="~/images/rightx30.png" />

                            </div>

                            @*<div class="image-frame-arrow">
                                    <img id="imgRigth" style="cursor:pointer;text-align:center" src="~/images/right.png" />
                                </div>*@
                            <div class="image-maximize">
                                <img style="cursor:pointer;text-align:center" src="~/images/expandx30.png" title="open image only" />
                            </div>

                        </div>


                    </div>
                    <div class="col-md-1">

                    </div>
                    <!-- Right Details-->

                </div>

                <div class="row mt20">

                    <!-- Left Image-->
                    <div class="col-md-12 col-xs-12 col-sm-12">
                        <div class="mt20" id="serchlist">
                            <div class="col-lg-12 col-md-12 col-xs-12 col-sm-12 mt20column">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="col-md-4 col-xs-12 col-sm-12" style="padding-left:0;padding-right:0;text-align:center">
                                            <span style="font-size:22px;color:#f70;font-weight:bold">CALL : </span><span style="font-size:24px;color:#f70;font-weight:bold">9603699900</span>
                                        </div>
                                        <div class="col-md-1 col-xs-12 col-sm-12" style="text-align:center">
                                            <span style="padding:0 15px 0 15px;display:none" id="contactOrSendmessage">or</span>
                                        </div>
                                        <div class="col-md-3 col-xs-12 col-sm-12" style="text-align:center">
                                            <a id="chatWithUser" class="btn btn-orange btn-mini;" style="background-color:#337ab7;display:none">Send Message</a>
                                            <a id="loginToChat" class="btn btn-orange btn-mini;" style="background-color:#337ab7;display:none">Send Message</a>
                                        </div>
                                    </div>

                                    <div class="col-md-5 pull-left" style="display:none">
                                        <a class="pull-left btn btn-orange btn-lg">CALL : 9603699900</a> or
                                        <div>
                                            <a id="chatWithUser" class="pull-right btn btn-orange btn-mini;" style="background-color:#337ab7;display:none">Send Message</a>
                                            <a id="loginToChat" class="pull-right btn btn-orange btn-mini;" style="background-color:#337ab7;display:none">Send Message</a>
                                        </div>
                                    </div>
                                   
                                </div>

                                <div class="clearfix">

                                </div>

                                <br />
                                @using (Html.BeginForm("AddChat", "List", FormMethod.Post, new { id = "Chat" }))
                                {
                                    @Html.HiddenFor(m => m.Add.AddId,new { Name = "AddId" })
                                    <div id="chat" style="display:none">
                                        <div class="control-group">
                                            <label class="control-label">Message</label>
                                            <div class="controls">
                                                <textarea rows="3" style="width:100%" name="usermessage" class="span3" required></textarea>
                                            </div>
                                        </div>
                                        <input type="button" id="btnCancelMsg" class="btn btn-orange pull-right" value="cancel" style="margin-left:3px;">
                                        <input type="submit" class="btn btn-orange pull-right" value="send">
                                    </div>
                                }

                                <div class="clearfix">

                                </div>
                                <!-- Product Description tab & comments-->
                                <div class="productdesc">
                                    <ul class="nav nav-tabs" id="myTab">
                                        <li id="tabdesc"><a href="#description" name="Description"><b><span style="color:#337ab7">Description</span></b></a> </li>
                                        <li id="tabspec"><a href="#specification" name="Specification"><b><span style="color:#f70">Specification</span></b></a> </li>
                                        @*<li id="tabcontact"><a href="#contact"><b>Send Message</b></a> </li>*@
                                    </ul>
                                    <div class="tab-content" style="min-height:150px;">
                                        <div class="tab-pane active" id="description">
                                            <p class="m0">@Model.Add.Description</p>
                                            <br />

                                        </div>
                                        <div class="tab-pane " id="cv-specification">
                                            <ul class="productinfo">
                                                @if (@Model.Add.Category == Constants.ConstructionVehicle)
                                                {
                                                    <li> <span class="productinfoleft"> Company: </span> @Model.Add.Company </li>
                                                    <li> <span class="productinfoleft"> Manufacturing Year: </span> @Model.Add.ManufacturingYear </li>
                                                    <li> <span class="productinfoleft"> Model: </span> @Model.Add.Model </li>
                                                }

                                            </ul>

                                        </div>
                                        <div class="tab-pane " id="tv-specification">
                                            <ul class="productinfo">
                                                @if (@Model.Add.Category == Constants.TransportationVehicle)
                                                {
                                                    <li> <span class="productinfoleft"> Company: </span> @Model.Add.Company </li>
                                                    <li> <span class="productinfoleft"> Manufacturing Year: </span> @Model.Add.ManufacturingYear </li>
                                                    <li> <span class="productinfoleft"> Model: </span> @Model.Add.Model </li>
                                                }
                                            </ul>

                                        </div>
                                        <div class="tab-pane " id="av-specification">
                                            <ul class="productinfo">
                                                @if (@Model.Add.Category == Constants.AgriculturalVehicle)
                                                {
                                                    <li> <span class="productinfoleft"> Company: </span> @Model.Add.Company </li>
                                                    <li> <span class="productinfoleft"> Manufacturing Year: </span> @Model.Add.ManufacturingYear </li>
                                                    <li> <span class="productinfoleft"> Model: </span> @Model.Add.Model </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="tab-pane " id="re-specification">
                                            <ul class="productinfo">
                                                @if (@Model.Add.RE != null)
                                                {
                                                    <li> <span class="productinfoleft"> Availability:</span> @Model.Add.RE.Availability </li>
                                                    <li> <span class="productinfoleft"> Listed By:</span> @Model.Add.RE.ListedBy</li>
                                                    <li> <span class="productinfoleft"> Furnishing: </span> @Model.Add.RE.Furnishing </li>
                                                    <li> <span class="productinfoleft"> Bedrooms: </span> @Model.Add.RE.Bedrooms </li>
                                                    <li> <span class="productinfoleft"> Square Feets: </span> @Model.Add.RE.SquareFeets</li>
                                                    <li> <span class="productinfoleft"> Square yards: </span> @Model.Add.RE.Squareyards </li>
                                                }
                                            </ul>
                                        </div>
                                        <div class="tab-pane " id="pv-specification">
                                            <ul class="productinfo">
                                                @if (@Model.Add.PV != null)
                                                {
                                                    <li> <span class="productinfoleft"> Company: </span> @Model.Add.PV.Company </li>
                                                    <li> <span class="productinfoleft"> Model:</span> @Model.Add.PV.Model </li>
                                                    <li> <span class="productinfoleft"> Manufacturing Year:</span> @Model.Add.PV.Year</li>
                                                    <li> <span class="productinfoleft"> Fuel Type:</span> @Model.Add.PV.FuelType</li>
                                                    <li> <span class="productinfoleft"> KM Driven: </span> @Model.Add.PV.KMDriven </li>
                                                }
                                            </ul>
                                        </div>
                                        @Html.HiddenFor(m => m.Add.AddId)
                                        @*<div class="tab-pane" id="contact">
                                                @*<form class="form-vertical">
                                                    <fieldset>
                                                        @*<div class="control-group">
                                                                <label class="control-label">Your Name</label>
                                                                <div class="controls">

                                                                    <input type="text" class="span3">
                                                                </div>
                                                            </div>
                                                        <div class="control-group">
                                                            <label class="control-label">Message</label>
                                                            <div class="controls">
                                                                <textarea rows="3" style="width:100%" name="usermessage" class="span3"></textarea>
                                                            </div>
                                                        </div>
                                                    </fieldset>
                                                    <input type="submit" class="btn btn-orange" value="continue">
                                                    @Html.HiddenFor(m => m.AddId)
                                                @*</form>
                                            </div>*@

                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    
                </div>
                <div class="row mt20">
                    <div class="col-md-12">
                        <div class="pull-left">
                           <span style="font-size:24px;font-weight:bold;"><span style="color:#337ab7">HOT </span><span style="color:#f70">DEALS:</span> </span> 
                        </div>
                    </div>
                    <div class="col-md-12">
                        @Html.Partial("_SimilarAdds", Model.SimilarAddColl)
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




@section Styles {
    @*<link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />*@
    <link href="~/Content/List/color1.css" rel="stylesheet" />
    @*<link href="~/Content/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/CustomeNew/Style.css" rel="stylesheet" />

}

@section scripts{

    <script src="~/Scripts/ScriptsNew/jquery.js"></script>
    @*<script src="~/Scripts/bootstrap.min.js"></script>**@
    <script src="~/Scripts/ScriptsNew/zoomsl-3.0.min.js"></script>
    <script src="~/Scripts/custom.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ScriptsNew/bootstrapvalidator.min.js"></script>

<script type="text/javascript">


    $(document).ready(function () {

        var isUserLoggedIn = '@User.Identity.IsAuthenticated';
        var isOwner = '@ViewBag.IsOwner';
        if (isOwner == 'False') {
            if (isUserLoggedIn == 'True') {

                $("#chatWithUser").css("display", "block");
                $("#contactOrSendmessage").css("display", "block");
            }
            else {
                // $("#chatWithUser").css("display", "block");

                $("#loginToChat").css("display", "block");
                $("#contactOrSendmessage").css("display", "block");
            }
        }

        $("#chatWithUser").click(function () {

            $("#chat").css("display", "block");
        });

        $("#btnCancelMsg").click(function () {

            $("#chat").css("display", "none");
        });
        $("#loginToChat").click(function () {

            window.location.href = "/User/Register?ReturnUrl=/List/PreviewAdd?addId=@Model.Add.AddId";
        });

        //$(".my-foto-container").fadeOut(100, function () {
        //    $(this).attr("src", $(That).attr("src"))
        //    .attr("data-large", $(That).attr("data-large")).fadeIn(200)
        //    .attr("data-title", $(That).attr("data-title"))
        //    .attr("data-help", $(That).attr("data-help"))
        //    .attr("data-id", $(That).attr("data-id"))
        //});?ReturnUrl=List/PreviewAdd?addId=23";?ReturnUrl=%2fUser%2fadmin



        $('#myTab a').click(function (e) {
            e.preventDefault()
            //var selectedTab = $(this).context.innerText;
            var selectedTab = $(this).context.name;
            var selectedCategory = '@Model.Add.Category';
            ClearTabs();
            if (selectedTab == "Specification") {
                $("#tabspec").addClass("active");
                switch (selectedCategory) {
                    case "Real Estate":
                        $("#re-specification").css("display", "block");
                        break;
                    case "Construction Vehicles":
                        $("#cv-specification").css("display", "block");
                        break;
                    case "Transportation Vehicles":
                        $("#tv-specification").css("display", "block");
                        break;
                    case "Agricultural Vehicles":
                        $("#av-specification").css("display", "block");
                        break;
                    case "Passenger Vehicles":
                        $("#pv-specification").css("display", "block");
                        break;
                }
            }
            else if (selectedTab == "Description") {
                $("#description").css("display", "block");

                $("#tabdesc").addClass("active");

            }
            //else if (selectedTab == "Send Message") {
            //    $("#contact").css("display", "block");

            //    $("#tabcontact").addClass("active");
            //}
        })

        $('#myTab a:first').tab('show') // Select first tab

        function ClearTabs() {
            $(".tab-content > .tab-pane").removeClass("active");
            $(".tab-content > .tab-pane").css("display", "none");
            $('#myTab li').removeClass("active");


        }


        ShowunhoverImage();

    });


    $("#imgLeft").click(function () {

        var dataId = $(".my-foto-container").attr("data-id");

        $(".image-hover").css('display', 'block');


        var That;
        var imageUrl = "";
        if (dataId == "1") {

            That = $(".image-grid4");

            imageUrl = $(That).attr('src');


            if (imageUrl != undefined) {

                $(".image-grid4").parent().find(".image-hover").css('display', 'none');
            }
            else {

                That = $(".image-grid3");
                if ($(That).attr('src') != undefined) {
                    $(".image-grid3").parent().find(".image-hover").css('display', 'none');
                }
                else {

                    That = $(".image-grid2");
                    if ($(That).attr('src') != undefined) {
                        $(".image-grid2").parent().find(".image-hover").css('display', 'none');
                    }
                    else {

                        That = $(".image-grid1");
                        $(".image-grid1").parent().find(".image-hover").css('display', 'none');
                    }
                }
            }
        }
        else if (dataId == "2") {

            That = $(".image-grid1");

            imageUrl = $(That).attr('src');


            if (imageUrl != undefined) {

                $(".image-grid1").parent().find(".image-hover").css('display', 'none');
            }
            else {

                That = $(".image-grid4");
                if ($(That).attr('src') != undefined) {
                    $(".image-grid4").parent().find(".image-hover").css('display', 'none');
                }
                else {

                    That = $(".image-grid3");
                    if ($(That).attr('src') != undefined) {
                        $(".image-grid3").parent().find(".image-hover").css('display', 'none');
                    }
                    else {

                        That = $(".image-grid2");
                        $(".image-grid2").parent().find(".image-hover").css('display', 'none');
                    }
                }
            }



        }
        else if (dataId == "3") {

            That = $(".image-grid2");

            imageUrl = $(That).attr('src');


            if (imageUrl != undefined) {

                $(".image-grid2").parent().find(".image-hover").css('display', 'none');
            }
            else {

                That = $(".image-grid3");
                if ($(That).attr('src') != undefined) {
                    $(".image-grid3").parent().find(".image-hover").css('display', 'none');
                }
                else {

                    That = $(".image-grid4");
                    if ($(That).attr('src') != undefined) {
                        $(".image-grid4").parent().find(".image-hover").css('display', 'none');
                    }
                    else {

                        That = $(".image-grid1");
                        $(".image-grid1").parent().find(".image-hover").css('display', 'none');
                    }
                }
            }

        }
        else if (dataId == "4") {

            That = $(".image-grid3");

            imageUrl = $(That).attr('src');


            if (imageUrl != undefined) {

                $(".image-grid3").parent().find(".image-hover").css('display', 'none');
            }
            else {

                That = $(".image-grid2");
                if ($(That).attr('src') != undefined) {
                    $(".image-grid2").parent().find(".image-hover").css('display', 'none');
                }
                else {

                    That = $(".image-grid1");
                    if ($(That).attr('src') != undefined) {
                        $(".image-grid1").parent().find(".image-hover").css('display', 'none');
                    }
                    else {

                        That = $(".image-grid4");
                        $(".image-grid4").parent().find(".image-hover").css('display', 'none');
                    }
                }
            }
        }

        $(".my-foto-container").fadeOut(100, function () {
            $(this).attr("src", $(That).attr("src"))
            .attr("data-large", $(That).attr("data-large")).fadeIn(200)
            .attr("data-title", $(That).attr("data-title"))
            .attr("data-help", $(That).attr("data-help"))
            .attr("data-id", $(That).attr("data-id"))
        });

        //ShowunhoverImage();
    });

    $("#imgRigth").click(function () {
        var dataId = $(".my-foto-container").attr("data-id");

        $(".image-hover").css('display', 'block');

        var That;
        var imageUrl = "";
        if (dataId == "1") {

            That = $(".image-grid2");

            imageUrl = $(That).attr('src');


            if (imageUrl != undefined) {

                $(".image-grid2").parent().find(".image-hover").css('display', 'none');
            }
            else {

                That = $(".image-grid3");
                if ($(That).attr('src') != undefined) {
                    $(".image-grid3").parent().find(".image-hover").css('display', 'none');
                }
                else {

                    That = $(".image-grid4");
                    if ($(That).attr('src') != undefined) {
                        $(".image-grid4").parent().find(".image-hover").css('display', 'none');
                    }
                    else {

                        That = $(".image-grid1");
                        $(".image-grid1").parent().find(".image-hover").css('display', 'none');
                    }
                }
            }

        }
        else if (dataId == "2") {

            That = $(".image-grid3");

            imageUrl = $(That).attr('src');


            if (imageUrl != undefined) {

                $(".image-grid3").parent().find(".image-hover").css('display', 'none');
            }
            else {

                That = $(".image-grid4");
                if ($(That).attr('src') != undefined) {
                    $(".image-grid4").parent().find(".image-hover").css('display', 'none');
                }
                else {

                    That = $(".image-grid1");
                    if ($(That).attr('src') != undefined) {
                        $(".image-grid1").parent().find(".image-hover").css('display', 'none');
                    }
                    else {

                        That = $(".image-grid2");
                        $(".image-grid2").parent().find(".image-hover").css('display', 'none');
                    }
                }
            }
        }
        else if (dataId == "3") {

            That = $(".image-grid4");

            imageUrl = $(That).attr('src');

            if (imageUrl != undefined) {

                $(".image-grid4").parent().find(".image-hover").css('display', 'none');
            }
            else {

                That = $(".image-grid1");
                if ($(That).attr('src') != undefined) {
                    $(".image-grid1").parent().find(".image-hover").css('display', 'none');
                }
                else {

                    That = $(".image-grid2");
                    if ($(That).attr('src') != undefined) {
                        $(".image-grid2").parent().find(".image-hover").css('display', 'none');
                    }
                    else {

                        That = $(".image-grid3");
                        $(".image-grid3").parent().find(".image-hover").css('display', 'none');
                    }
                }
            }
        }
        else if (dataId == "4") {

            That = $(".image-grid1");

            imageUrl = $(That).attr('src');

            if (imageUrl != undefined) {

                $(".image-grid1").parent().find(".image-hover").css('display', 'none');
            }
            else {

                That = $(".image-grid2");
                if ($(That).attr('src') != undefined) {
                    $(".image-grid2").parent().find(".image-hover").css('display', 'none');
                }
                else {

                    That = $(".image-grid3");
                    if ($(That).attr('src') != undefined) {
                        $(".image-grid3").parent().find(".image-hover").css('display', 'none');
                    }
                    else {

                        That = $(".image-grid4");
                        $(".image-grid4").parent().find(".image-hover").css('display', 'none');
                    }
                }
            }
        }

        $(".my-foto-container").fadeOut(100, function () {
            $(this).attr("src", $(That).attr("src"))
            .attr("data-large", $(That).attr("data-large")).fadeIn(200)
            .attr("data-title", $(That).attr("data-title"))
            .attr("data-help", $(That).attr("data-help"))
            .attr("data-id", $(That).attr("data-id"))
        });

        //ShowunhoverImage();
    });



    //$(".image-hover").hover(

    //    function () {

    //        //$(".image-hover").css('display', 'block');

    //        $(this).parent().find(".image-hover").css('display', 'none');

    //    }, function () {

    //        $(this).parent().find(".image-hover").css('display', 'block');
    //        //ShowunhoverImage();
    //    }


    //);

    $(".image-hover").mouseout(function () {

    }).mouseover(function () {

        $(this).parent().find(".image-hover").css('display', 'none');

    });

    $(".zoom").mouseout(function () {
        var dataId = $(".my-foto-container").attr("data-id");
        //alert(dataId + $(this).attr('data-id'));
        if (dataId != $(this).attr('data-id')) {
            $(this).parent().find(".image-hover").css('display', 'block');

        }


    }).mouseover(function () {

    });

    $(".image-maximize img").click(function () {

        var href = $(".my-foto-container").attr('src');

        window.open(href, '_blank');
        //window.location.href = href; //causes the browser to refresh and load the requested url
    });

    function ShowunhoverImage() {

        $(".image-hover").css('display', 'block');

        var dataId = $(".my-foto-container").attr("data-id");

        if (dataId == "1") {
            $(".image-grid1").parent().find(".image-hover").css('display', 'none');
        }
        else if (dataId == "2") {
            $(".image-grid2").parent().find(".image-hover").css('display', 'none');
        }
        else if (dataId == "3") {
            $(".image-grid3").parent().find(".image-hover").css('display', 'none');
        }
        else if (dataId == "4") {
            $(".image-grid4").parent().find(".image-hover").css('display', 'none');
        }


    }

    $(".zoom").click(function () {


        var That = this;
        $(".my-foto-container").fadeOut(100, function () {
            $(this).attr("src", $(That).attr("src"))
            .attr("data-large", $(That).attr("data-large")).fadeIn(200)
            .attr("data-title", $(That).attr("data-title"))
            .attr("data-help", $(That).attr("data-help"))
            .attr("data-id", $(That).attr("data-id"))
        });


        $(".image-hover").css('display', 'block');
        $(this).parent().find(".image-hover").css('display', 'none');


    });



</script>

}