@model AddsModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>Classic - A Bootstrap Classified Ads Template</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Responisve, Bootstrap, Html5, Css3, Blog, Classified, Ads, Simple, Clean ">
    <link href="~/Content/Custome/bootstrap.min.css" rel="stylesheet" />
    <link href='http://www.google.com/fonts#UsePlace:use/Collection:Open+Sans:400,300,400italic,600,700,800,800italic' rel='stylesheet' type='text/css'>
    <link href="~/Content/CssNew/color1.css" rel="stylesheet" media="screen" id="color">
    <link href="~/Content/CssNew/demo.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/CssNew/font-awesome.min.css" rel="stylesheet" />
    <style>
        .divbgc {
            background: #f9f9f9;
            padding: 15px 0;
            margin-bottom: 30px;
            margin-right: 10px;
            position: relative;
        }
    </style>
</head>

<div id="maincontainer">

    <div class="container">
        <!--  breadcrumb -->
        <ul class="breadcrumb">
            <li> <a>Home</a> </li>
            <li class="active">Blog List</li>
        </ul>
        <div class="row mt40">
            <!--  Container -->
            <div>

                @Html.Partial("_LoadData")

            </div>
            <div class="divbgc" style="display:none">
                <!--Sorting-->
                <div class="clearfix" id="Cars" style="display:none">
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Brand Name</span><br>
                            <select class="form-control" id="BrandName">
                                <option selected>Brand</option>
                                <option>Maruti Suzuki</option>
                                <option>Hyudai</option>
                                <option>Tata </option>
                                <option>Mahindra</option>
                                <option>Toyota</option>
                                <option>Honda</option>
                                <option>Chevrolet </option>
                                <option>Ford</option>
                                <option>Skoda</option>
                                <option>Volkswagen</option>
                                <option>Fiat </option>
                                <option>Nissan</option>
                                <option>Renault</option>
                                <option>Mitsubishi</option>
                                <option>Mercede Benz </option>
                                <option>Audi</option>
                                <option>Mahindra Renault</option>
                                <option>BMW</option>
                                <option>Hindustan Moters</option>
                                <option>Other Brands</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Model</span><br>
                            <select class="form-control" id="Model">
                                <option selected>Model</option>
                                <option>Maruti 800</option>
                                <option>Pirce</option>
                                <option>Date </option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Price Range</span><br>
                            <select class="form-control" style="width:auto" id="PriceFrom">
                                <option selected>Price From</option>
                                <option>&#8377;10,000</option>
                                <option>&#8377;50,000</option>
                                <option>&#8377;1,00,000 </option>
                                <option>&#8377;5,00,000</option>
                                <option>&#8377;10,00,000</option>
                                <option>&#8377;20,00,000 </option>
                                <option>&#8377;50,00,000</option>
                                <option>&#8377;1,00,00,000</option>
                                <option>&#8377;2,00,00,000 </option>
                                <option>&#8377;5,00,00,000</option>
                            </select>-
                            <select class="form-control" style="width:auto" id="PriceTo">
                                <option selected>Price To</option>
                                <option>&#8377;10,000</option>
                                <option>&#8377;50,000</option>
                                <option>&#8377;1,00,000 </option>
                                <option>&#8377;5,00,000</option>
                                <option>&#8377;10,00,000</option>
                                <option>&#8377;20,00,000 </option>
                                <option>&#8377;50,00,000</option>
                                <option>&#8377;1,00,00,000</option>
                                <option>&#8377;2,00,00,000 </option>
                                <option>&#8377;5,00,00,000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Year</span><br>
                            <select class="form-control" style="width:auto" id="YearFrom">
                                <option selected>Year From</option>
                                <option>1995</option>
                                <option>1996</option>
                                <option>1997</option>
                                <option>1998</option>
                                <option>1999</option>
                                <option>2000</option>
                                <option>2001</option>
                                <option>2002</option>
                                <option>2003</option>
                                <option>2004</option>
                                <option>2005</option>
                                <option>2006</option>
                                <option>2007</option>
                                <option>2008</option>
                                <option>2009</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                            </select>-<select class="form-control" style="width:auto" id="YearTo">
                                <option selected>Year To</option>
                                <option>1995</option>
                                <option>1996</option>
                                <option>1997</option>
                                <option>1998</option>
                                <option>1999</option>
                                <option>2000</option>
                                <option>2001</option>
                                <option>2002</option>
                                <option>2003</option>
                                <option>2004</option>
                                <option>2005</option>
                                <option>2006</option>
                                <option>2007</option>
                                <option>2008</option>
                                <option>2009</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                                <option>2017</option>
                                <option>2018</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Mileage</span><br>
                            <select class="form-control" style="width:auto" id="KMDriven">
                                <option selected>KM Driven</option>
                                <option>1,000</option>
                                <option>10,000</option>
                                <option>20,000 </option>
                                <option>30,000</option>
                                <option>50,000</option>
                                <option>80,000</option>
                                <option>1,00,000</option>
                                <option>1,50,000</option>
                                <option>2,00,000</option>
                            </select>-<select class="form-control" style="width:auto" id="KMDriven1">
                                <option selected>KM Driven</option>
                                <option>1,000</option>
                                <option>10,000</option>
                                <option>20,000 </option>
                                <option>30,000</option>
                                <option>50,000</option>
                                <option>80,000</option>
                                <option>1,00,000</option>
                                <option>1,50,000</option>
                                <option>2,00,000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3">
                        <div>
                            <span>Fuel Type</span><br>
                            <select class="form-control" id="FuelType">
                                <option selected>Fuel</option>
                                <option>All</option>
                                <option>Petrol</option>
                                <option>Diesel </option>
                                <option>LPG</option>
                                <option>CNG&Hybrids</option>
                            </select>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <div class="clearfix" id="RealEstate" style="display:none">
                    <div class="row form-group">
                        <div class="col-xs-6 col-sm-3">
                            <span>Category</span><br>
                            <select class="form-control" id="Category">
                                <option>Select Category</option>
                                <option>All</option>
                                <option>Apartments</option>
                                <option>Houses & Villas</option>
                                <option>Builder Folders</option>
                                <option>Land & Plots</option>
                                <option>Shops & Offices</option>
                                <option>Farm Houses</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <span>Super Builtup Area</span><br>
                            <select class="form-control" id="BuitupArea">
                                <option selected>Builtup Area</option>
                                <option>300 ft²</option>
                                <option>600 ft²</option>
                                <option>900 ft² </option>
                                <option>1,250 ft²</option>
                                <option>1,500 ft²</option>
                                <option>1,750 ft²</option>
                                <option>2,250 ft²</option>
                                <option>2,500 ft²</option>
                                <option>5,000 ft²</option>
                            </select>
                        </div>
                        <div class="col-sm-4">
                            <span>Price Range</span><br>
                            <select class="form-control" style="width:auto" id="PriceFrom">
                                <option selected>Price From</option>
                                <option>&#8377;10,000</option>
                                <option>&#8377;50,000</option>
                                <option>&#8377;1,00,000 </option>
                                <option>&#8377;5,00,000</option>
                                <option>&#8377;10,00,000</option>
                                <option>&#8377;20,00,000 </option>
                                <option>&#8377;50,00,000</option>
                                <option>&#8377;1,00,00,000</option>
                                <option>&#8377;2,00,00,000 </option>
                                <option>&#8377;5,00,00,000</option>
                            </select>-
                            <select class="form-control" style="width:auto" id="PriceTo">
                                <option selected>Price To</option>
                                <option>&#8377;10,000</option>
                                <option>&#8377;50,000</option>
                                <option>&#8377;1,00,000 </option>
                                <option>&#8377;5,00,000</option>
                                <option>&#8377;10,00,000</option>
                                <option>&#8377;20,00,000 </option>
                                <option>&#8377;50,00,000</option>
                                <option>&#8377;1,00,00,000</option>
                                <option>&#8377;2,00,00,000 </option>
                                <option>&#8377;5,00,00,000</option>
                            </select>
                        </div>
                        &nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;
                        <div class="col-xs-6 col-sm-3">
                            <span>Bed Rooms</span><br>
                            <select class="form-control" name="langOpt[]" id="BedRooms">
                                <option selected>Bed Rooms</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">4+</option>
                            </select>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div>
                                <span>Construction Status</span><br>
                                <select class="form-control" id="ConsructionStatus">
                                    <option selected>Construction Status</option>
                                    <option>All</option>
                                    <option>Under Construction</option>
                                    <option>Ready to Move</option>
                                    <option>New Launch</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div>
                                <span>Listed By</span><br>
                                <select class="form-control" id="ListedBy">
                                    <option selected>Listed By</option>
                                    <option>All</option>
                                    <option>Owner</option>
                                    <option>Dealer</option>
                                    <option>Builder</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-3">
                            <div>
                                <span>Furnishing</span><br>
                                <select class="form-control" id="Furnishing">
                                    <option selected>Furnishing</option>
                                    <option>All</option>
                                    <option>Furnished</option>
                                    <option>Unfurnished</option>
                                    <option>Semi-Furnished</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;
                <div class="clearfix" style="float:right">
                    <a class="ex1" id="clearfilter" style="color:dodgerblue" href="#">&times;&nbsp;&nbsp;&nbsp;Clear filters</a>
                </div>
            </div>
        </div>
        <!-- Listing-->
        <div class="mt40" id="bloglist">

            @Html.Partial("DisplayAdds", Model)

        </div>
    </div>
</div>



<!-- Got to top -->
<a id="gotop"><i class="fa fa-arrow-circle-up"></i></a>
<script src="~/Scripts/jquery-3.2.1.min.js"></script>

<script src="~/Scripts/ScriptsNew/jquery.js"></script>

<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/Scripts/ScriptsNew/jquery.flexslider.js"></script>

<script src="~/Scripts/ScriptsNew/zoomsl-3.0.min.js"></script>

<script src="~/Scripts/ScriptsNew/all.js"></script>

<script src="~/Scripts/custom.js"></script>
<script src="~/Scripts/ScriptsNew/jquery.bootpag.min.js"></script>
@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/CssNew/responsive.css")" rel="stylesheet" />
    @*<link href="@Url.Content("~/Content/CssNew/style.css")" rel="stylesheet" />*@
}
<link href="~/Content/Custome/easy-autocomplete.min.css" rel="stylesheet" />
<link href="~/Content/Custome/easy-autocomplete.themes.min.css" rel="stylesheet" />

<script src="~/Scripts/Custome/jquery.easy-autocomplete.min.js" type="text/javascript"></script>
<style>
    a.ex1:hover {
        color: red;
    }
</style>
<script>
    $(document).ready(function () {
        $("#divSearch").hide();
        var category = "";
        $("#listing_catagory_list").change(function ()
        {
            category = $("#listing_catagory_list").val();
            ShowCategoryFilter(category);
        });
        $("#clearfilter").click(function () {
            $('select').prop('selectedIndex', 0);
        });
        $(".divbgc select").change(function () {
            var filterObj = {};
            if (category == "Cars") {
               
                // filterObj.brandname = $("#BrandName").val();                
                filterObj.model = $("#Model").val();                
                filterObj.price = $("#PriceFrom").val();
                filterObj.priceto = $("#PriceTo").val();
                filterObj.yearfrom = $("#YearFrom").val();
                filterObj.yearto = $("#YearTo").val();
                filterObj.fuel = $("#FuelType").val();
                filterObj.kmdriven = $("#KMDriven").val();
                filterObj.kmdriven1 = $("#KMDriven1").val();
            }
            else if (category == "RealEstate") {

                filterObj.category = $("#Category").val();
                filterObj.builtuparea = $("#BuiltupArea").val();
                filterObj.pricefrom = $("#PriceFrom").val();
                filterObj.priceto = $("#PriceTo").val();
                filterObj.bedrooms = $("#BedRooms").val();
                filterObj.construction = $("#ConstructionStatus").val();
                filterObj.listedby = $("#ListedBy").val();
                filterObj.furnishing = $("#Furnishing").val();
                
            }
            filterAdds(filterObj);
        });
        function filterAdds(selectedValue) {

            $.ajax({
                url: '@Url.Action("ApplyFilter")',
                type: 'GET',
                dataType: "html",
                data: { "filterOptions": JSON.stringify(selectedValue), "category": category },
                success: function (data) {
                    $("#content").html(data);
                    $(".bloglisting").css("display", "block");

                },
                failure: function (response) {
                    console.log(response.responseText);
                },
                error: function (response) {
                    console.log(response.responseText);
                },
                complete: function (data) {
                    //$("#requestOverlay").hide();/*Remove overlay*/
                }

            });
        }

        function ShowCategoryFilter(category)
        {
            if (category == "Select Category")
            {
                $(".divbgc").hide();
            }
            else
            {
                $(".divbgc").show();
            }
            $('.divbgc > div').map(function () {
                if (this.id == category)
                {
                    $("#"+this.id).show();
                }
                else
                {
                    $("#" + this.id).hide();
                }
            });
            
        }

    });

</script>

