@model IEnumerable<LoginUser>
@{
    ViewBag.Title = "ManageEmployees";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>ManageEmployees</h2>

<div class="row">

    <div class="col-sm-12">

        <div class="form-group row">
            <div class="col-sm-12">
                <a href="~/Admin/ManageUser" class="btn btn-sm btn-danger pull-right" id="btnPostAdd"> + Add</a>
            </div>

        </div>

    </div>

</div>


<div class="row">

    <div class="col-sm-12">

        <div class="row">
            <div class="col-12">
                <div class="card-box table-responsive">
                    <h4 class="m-t-0 header-title">Adds</h4>
                    <p class="text-muted font-14 m-b-30">
                        following are the Employees which are <code> submitted by admin</code>.
                    </p>
                    <table id="tblAdds" class="table table-striped table-bordered nowrap display responsive" style="width:100%">
                        <thead>
                            <tr>

                                <th data-class="expand">Employee Id</th>
                                <th data-class="expand">First Name</th>
                                <th data-hide="phone">Last Name</th>

                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>

                        </thead>

                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {

                                    <tr>

                                        <td>
                                            @item.UserId
                                        </td>
                                        <td id="addId">
                                            @item.FirstName
                                        </td>
                                        <td>
                                            @item.LastName
                                        </td>

                                        <td>
                                            @Html.ActionLink("Edit", "ManageUser", "Admin", new { empId = @item.Id }, new { style = "color:#337ab7;" })
                                        </td>

                                        <td>
                                            @Html.ActionLink("Delete", "DeleteEmployee", "Admin", new { empId = @item.Id }, new {  style = "color:#337ab7;" })
                                        </td>

                                    </tr>

                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div> <!-- end row -->
    </div>

</div>


@section Styles {

    <link href="~/Content/Admin/assets/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css" />

}

@section scripts {

    <!-- Required datatable js -->

    <script src="~/Content/Admin/assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Content/Admin/assets/plugins/datatables/dataTables.bootstrap4.min.js"></script>


    <script type="text/javascript">


        $(document).ready(function () {

            var table = $('#tblAdds').DataTable();
        });


    </script>

}
