@model AdminDashboard
@{

    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> statusCollection = new List<SelectListItem>();
    List<SelectListItem> reportType = new List<SelectListItem>();
    reportType.Add(new SelectListItem { Text = "AddsInfo", Value = "AddsInfo" });
    reportType.Add(new SelectListItem { Text = "Buyer/ConsumerInfo", Value = "Buyer/ConsumerInfo" });
    statusCollection.Add(new SelectListItem { Text = Constants.PendingSatus, Value = Constants.PendingSatus });
    statusCollection.Add(new SelectListItem { Text = Constants.ReviewSatus, Value = Constants.ReviewSatus });
    statusCollection.Add(new SelectListItem { Text = Constants.ActiveSatus, Value = Constants.ActiveSatus });
    statusCollection.Add(new SelectListItem { Text = Constants.DeactiveSatus, Value = Constants.DeactiveSatus });
    statusCollection.Add(new SelectListItem { Text = Constants.RejectSatus, Value = Constants.RejectSatus });
}

@using (Html.BeginForm("Admin1", "Post", FormMethod.Get, new { name = "defaultForm", id = "defaultForm", data_toggle = "validator", @enctype = "multipart/form-data" }))
{
    @*<div>
            @Html.DropDownList("ddlReportType", reportType, new { })
        </div>*@

    <div>
        @*<div class="breadcrumb-block">

            </div>*@
        <div class="add-listing-wrap">
            <div class="container">
                <div style="padding:35px 0px">
                    <div class="row">

                        <div class="col-md-12">
                            <b style="font-size:22px;">Select Type Of Report</b>
                        </div>

                        <div class="col-md-10 col-xs-8">

                            Adds Info
                            <input id="Gender" name="Rtype" value="AddsInfo" type="radio" checked="checked" onchange="radioChange">
                            Buyers Info
                            <input id="Gender" name="Rtype" value="BuyersInfo" type="radio">

                            <input type="button" value="SendSms" id="btnSendSms" />
                            <div id="myModal" role="dialog" class="modal fade">
                                <div class="modal-dialog">

                                </div>
                            </div>
                        </div>
                        <div class="col-md-2 col-xs-4 ">

                            <a class="btn btn-sm btn-danger pull-right" target="_blank" href="~/User/CreateBuyerInfo"><i class="fa fa-plus"></i> BuyerInfo</a>
                        </div>
                    </div>
                </div>

                @*<div class="add-listing-tost-block">
                    <p></p>
                </div>*@

                <div id="reportAddsInfo" class="add-listing-tost-block" style="width:100%; padding:15px 15px 15px 15px;border-radius:3px;box-shadow:0px 1px 11px -1px rgba(216, 216, 216, 0.75)">

                    <table id="tblAdds" class="table table-striped table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                @*<th>Mobile No</th>*@
                                <th data-class="expand">AddId</th>
                                <th data-hide="phone">Date and Time</th>
                                <th data-hide="phone">Sub Category</th>
                                <th data-hide="phone">Rent/Sale</th>
                                <th>Preview</th>
                                <th>Edit</th>
                                <th>Status</th>
                                <th data-hide="phone">User Name</th>
                                <th data-hide="phone">Mobile No</th>
                                <th data-hide="phone">Category</th>
                                <th data-hide="phone">State</th>
                                <th data-hide="phone">District</th>
                                <th data-hide="phone">Mandal</th>
                                <th>Remarks</th>
                                <th>Status</th>

                                <th>Action</th>
                                <th>Delete</th>
                                <th>User Name</th>
                                <th>Mobile No</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.AddsColl)
                            {

                                <tr>
                                    @*<td>@item.PhoneNum</td>*@
                                    <td id="addId">
                                        @item.AddId
                                    </td>
                                    <td>
                                        @item.Created
                                    </td>
                                    <td>
                                        @item.SubCategory
                                    </td>
                                    <td>
                                        @item.Type
                                    </td>

                                    <td>
                                        @Html.ActionLink("Preview", "PreviewAdd", "List", new { addId = @item.AddId }, new { target = "_blank", style = "color:#337ab7;" })

                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Index", "Post", new { addId = @item.AddId }, new { target = "_blank", style = "color:#337ab7;" })
                                    </td>


                                    <td>
                                        <span> <label id="lblStatus">@item.Status</label></span>


                                    </td>
                                    <td>
                                        @item.UserName
                                    </td>
                                    <td>
                                        @item.PhoneNum
                                    </td>


                                    <td>
                                        @item.Category
                                    </td>
                                    <td>
                                        @item.State
                                    </td>
                                    <td>
                                        @item.District
                                    </td>
                                    <td>
                                        @item.Mandal
                                    </td>


                                    <td>
                                        <span class="display-mode"> <label id="lblRemarks">@item.Remarks</label></span>
                                        @Html.TextArea("txtRemarks", item.Remarks, new { @class = "edit-mode", @maxlength = "1000", @style = "@width=350px;@height=80px" })
                                    </td>
                                    <td>
                                        <span class="display-mode"> <label id="lblAddStatus">@item.Status</label></span>
                                        @Html.DropDownList("ddlStatus", statusCollection, new { @class = "edit-mode" })
                                    </td>
                                    <td>
                                        <input type="button" value="Edit" class="edit-user display-mode" style="color:#337ab7;" onclick="FnEditCancel(event);" />
                                        <input type="button" class="save-user edit-mode" style="color:#337ab7;" value="Save" onclick="FnSave(event)" />
                                        <input type="button" class="cancel-user edit-mode" style="color:#337ab7;" value="Cancel" onclick="FnEditCancel(event);" />
                                    </td>
                                    <td>
                                        @Html.ActionLink("Delete", "Delete", "Post", new { addId = @item.AddId }, new { target = "", style = "color:#337ab7;" })
                                    </td>
                                    <td>
                                        <span id="userName" class="UserInfo">@item.UserName</span>
                                    </td>
                                    <td>
                                        <span id="userPhoneNum" class="UserInfo">@item.PhoneNum</span>
                                    </td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th data-class="expand">AddId</th>
                                <th data-hide="phone">Date and Time</th>
                                <th data-hide="phone">Sub Category</th>
                                <th data-hide="phone">Rent/Sale</th>
                                <th>Preview</th>
                                <th>Edit</th>
                                <th>Status</th>
                                <th data-hide="phone">User Name</th>
                                <th data-hide="phone">Mobile No</th>
                                <th data-hide="phone">Category</th>
                                <th data-hide="phone">State</th>
                                <th data-hide="phone">District</th>
                                <th data-hide="phone">Mandal</th>
                                <th>Remarks</th>
                                <th>Status</th>

                                <th>Action</th>
                                <th>Delete</th>
                                <th>User Name</th>
                                <th>Mobile No</th>
                            </tr>
                        </tfoot>
                    </table>

                </div>


            </div>
        </div>
    </div>

    <div>
        <div class="add-listing-wrap">
            <div class="container">


                @*<div class="add-listing-tost-block">
                    <p></p>
                </div>*@

                <div id="reportBuyersInfo" class="add-listing-tost-block" style="width:100%; padding:15px 15px 15px 15px;border-radius:3px;box-shadow:0px 1px 11px -1px rgba(216, 216, 216, 0.75)">

                    <table id="tblSurvey" class="table table-striped table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th data-class="expand">AddId</th>
                                <th data-hide="phone">Consumer/Buyer</th>                               
                                <th data-class="phone">PhoneNumber</th>
                                <th data-class="phone">UserName</th>
                                <th data-hide="phone">Category</th>
                                <th data-hide="phone">Sub Category</th>
                                <th data-class="phone">Created</th>
                                
                            
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.SurveyColl)
                            {

                                <tr>
                                    <td id="addId">
                                        @item.Survey.AddIdColl
                                    </td>
                                    <td>
                                        @item.Type
                                    </td>
                                    <td>
                                        @item.Survey.PhoneNumber
                                    </td>
                                    <td>
                                        @item.Survey.Name
                                    </td>
                                    <td>
                                        @item.Category
                                    </td>
                                    <td>
                                        @item.SubCategory
                                    </td>
                                    <td>
                                        @item.Survey.CreatedDate
                                    </td>
                                  
                                  
                                </tr>

                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th data-class="expand">AddId</th>
                                <th data-hide="phone">Consumer/Buyer</th>
                                <th data-class="phone">PhoneNumber</th>
                                <th data-class="phone">UserName</th>
                                <th data-hide="phone">Category</th>
                                <th data-hide="phone">Sub Category</th>
                                <th data-class="phone">Created</th>
                               
                                
                            </tr>
                        </tfoot>
                    </table>

                </div>


            </div>
        </div>
    </div>
}

<div class="loader-wrap" style="display:none">
    <div class="loader">
        <span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span>
        <span class="loader-item"></span><span class="loader-item"></span>
    </div>
</div>
@section Styles {
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/List/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/List/responsive.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/List/color1.css" rel="stylesheet" />
     <link href="~/Content/List/select.dataTables.min.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/List/dataTables.min.js"></script>
    <script src="~/Scripts/List/bootstrap.min.js"></script>
    <script src="~/Scripts/List/responsive.min.js"></script>
    <script src="~/Scripts/List/responsive.bootstrap.min.js"></script>
<script src="~/Scripts/List/dataTables.select.min.js"></script>


<script type="text/javascript">
    function FnEditCancel(e) {
        var editElemts = e.srcElement.offsetParent.getElementsByClassName('edit-mode');
        var displayElemts = e.srcElement.offsetParent.getElementsByClassName('display-mode');
        $(editElemts).each(function (index) {
            $(this).toggle();
        });
        $(displayElemts).each(function (index) {
            $(this).toggle();
        });
    }

    function FnSave(e) {
        $(".loader-wrap").show();
        var editElemts = e.srcElement.offsetParent.getElementsByClassName('edit-mode');
        var displayElemts = e.srcElement.offsetParent.getElementsByClassName('display-mode');
        var status = editElemts.ddlStatus.value;
        var remarks = editElemts.txtRemarks.value
        var addId = e.srcElement.offsetParent.parentElement.previousElementSibling.children.addId.innerText;
        var userElemts = e.srcElement.offsetParent.getElementsByClassName('UserInfo');
        var userName = userElemts.userName.innerText;
        var userPhoneNum = userElemts.userPhoneNum.innerText;
        $.ajax({
            url: '/User/UpdateAddStatus/',
            data: { addId: addId, status: status, remarks: remarks, userName: userName, userPhoneNum: userPhoneNum },
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                //if (data == 'True')
                //{
                //    $("#lblStatus").text(status);
                //   $("#lblAddStatus").text(status);
                //    // displayElemts[1].innerText = status;
                //    displayElemts[1].children.lblAddStatus.innerText = status;
                //}
                //var oTable = $('#tblAdds').dataTable();
                window.location.href = "/User/Admin"; lblAddStatus
                $(".loader-wrap").hide();
                //var currentPage = oTable.page;
                //console.log(currentPage);

                // SetCurrentPage();
            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });

    }

    function SetCurrentPage() {
        var table = $('#tblAdds').DataTable();
        var currentPage = table.page();
        table.fnPageChange(3, true);
        // table.page(currentPage).draw(false);
        //  window.location.href = "/User/Admin";
        ////var p = table.fnPagingInfo().iPage;
        ////tbl.fnClearTable();
        ////for (var i = 0; i < rows.length; i++) {
        ////    tbl.fnAddData($(rows[i]));
        ////}
        ////table.fnPageChange(p);
        // table.ajax.reload()
        $(".loader-wrap").hide();
    }

    $(document).ready(function () {
        $('.edit-mode').hide();
        var table = $('#tblAdds').DataTable({
            "responsive": true,
            select: {
                style: 'multi'
            },
            initComplete: function () {
                this.api().columns([ 2,3, 6]).every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        // select.append('<option value="' + d + '">' + d + '</option>')
                        var val = $('<div/>').html(d).text();
                        select.append('<option value="' + val + '">' + val + '</option>');
                    });
                });
            }

        });

        var survey = $('#tblSurvey').DataTable({
            "responsive": true,
          
            initComplete: function () {
                this.api().columns([1, 2, 3, 4,5]).every(function () {
                    var column = this;
                    var select = $('<select><option value=""></option></select>')
                        .appendTo($(column.footer()).empty())
                        .on('change', function () {
                            var val = $.fn.dataTable.util.escapeRegex(
                                $(this).val()
                            );

                            column
                                .search(val ? '^' + val + '$' : '', true, false)
                                .draw();
                        });

                    column.data().unique().sort().each(function (d, j) {
                        // select.append('<option value="' + d + '">' + d + '</option>')
                        var val = $('<div/>').html(d).text();
                        select.append('<option value="' + val + '">' + val + '</option>');
                    });
                });
            }
        });

        var reportType = $('input[type=radio][name=Rtype]').val();
       
        if (reportType == "AddsInfo") {

            $("#reportAddsInfo").css('display', 'block');
            $("#reportBuyersInfo").css('display', 'none');

        } else if (reportType == "BuyersInfo") {

            $("#reportAddsInfo").css('display', 'none');
            $("#reportBuyersInfo").css('display', 'block');
        }
        // ----------- Send Sms.........//

        $("#btnSendSms").click(function () {
            var phoneNumColl = new Array();
            var count = table.rows( { selected: true } ).count();
            for (var i = 0; i < table.rows('.selected').data().length; i++) {
                phoneNumColl.push(table.rows('.selected').data()[i][8])
            }
            $('#myModal').modal('show');
           // var value = 0;
            SendSMS(phoneNumColl);
            
           
        });
        function SendSMS(MobileNumbers) {
            $.ajax({
                type: 'GET',
                url: '@Url.Action("SendSMS", "User")',
                cache: false,
                data: { "MobileNumbers": JSON.stringify(MobileNumbers) },
                success: function (data) {
                    //alert(JSON.stringify(data))
                    $('.modal-dialog').html("");
                    $('.modal-dialog').html(data);
                },
                error: function (response) {

                }
            })
        }

        
       


    $('input[type=radio][name=Rtype]').change(function () {

        var reportType1 = this.value;

        if (reportType1 == "AddsInfo") {

            $("#reportAddsInfo").css('display', 'block');
            $("#reportBuyersInfo").css('display', 'none');

        } else if (reportType1 == "BuyersInfo") {

            $("#reportAddsInfo").css('display', 'none');
            $("#reportBuyersInfo").css('display', 'block');
        }
    });

    });

</script>

    }