@model IEnumerable<AdminAdd>
@{

    ViewBag.Title = "Admin";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> statusCollection = new List<SelectListItem>();

    statusCollection.Add(new SelectListItem { Text = Constants.PendingSatus, Value = Constants.PendingSatus });
    statusCollection.Add(new SelectListItem { Text = Constants.ReviewSatus, Value = Constants.ReviewSatus });
    statusCollection.Add(new SelectListItem { Text = Constants.ActiveSatus, Value = Constants.ActiveSatus });
    statusCollection.Add(new SelectListItem { Text = Constants.DeactiveSatus, Value = Constants.DeactiveSatus });
    statusCollection.Add(new SelectListItem { Text = Constants.RejectSatus, Value = Constants.RejectSatus });
}

@using (Html.BeginForm("Admin1", "Post", FormMethod.Get, new { name = "defaultForm", id = "defaultForm", data_toggle = "validator", @enctype = "multipart/form-data" }))
{
    <div>
 </div>

    <div>
        <div class="breadcrumb-block">

        </div>
        <div class="add-listing-wrap">
            <div class="container">


                <div class="add-listing-tost-block">
                    <p></p>
                </div>

                <div class="add-listing-tost-block" style="width:100%; padding:15px 15px 15px 15px;border-radius:3px;box-shadow:0px 1px 11px -1px rgba(216, 216, 216, 0.75)">

                    <table id="tblAdds" class="table table-striped table-bordered nowrap" style="width:100%">
                        <thead>
                            <tr>
                                <th data-class="expand">AddId</th>
                                <th data-hide="phone">Created</th>
                                <th data-hide="phone">Category</th>
                                <th data-hide="phone">State</th>
                                <th data-hide="phone">District</th>
                                <th data-hide="phone">Mandal</th>
                                <th data-hide="phone">UserName</th>
                                <th data-hide="phone">Mobile</th>
                                <th data-hide="phone">Rent/Sale</th>
                                <th>Preview</th>
                                <th>Status</th>
                                <th >Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {

                                <tr>
                                    <td id="addId">
                                        @item.AddId
                                    </td>
                                    <td>
                                        @item.Created
                                    </td>
                                    <td>
                                        @item.Category
                                    </td>
                                    <td>
                                        @item.State
                                    </td>
                                    <td>
                                        @item.District
                                    </td>
                                    <td>
                                        @item.Mandal
                                    </td>
                                    <td>
                                       @item.UserName
                                    </td>
                                    <td>
                                       @item.PhoneNum
                                    </td>
                                    <td>
                                        @item.Type
                                    </td>
                                    <td>
                                        @Html.ActionLink("Preview", "PreviewAdd", "List", new { addId = @item.AddId }, new { target = "_blank" })

                                    </td>
                                    <td>
                                        <span class="display-mode"> <label id="lblSurName">@item.Status</label></span>
                                        @Html.DropDownList("ddlStatus", statusCollection, new { @class = "edit-mode" })
                                    </td>
                                    <td>
                                        <input type="button" value="Edit" class="edit-user display-mode" onclick="FnEditCancel(event);" />
                                        <input type="button" class="save-user edit-mode" value="Save" onclick="FnSave(event)" />
                                        <input type="button" class="cancel-user edit-mode" value="Cancel" onclick="FnEditCancel(event);"/>
                                    </td>
                                </tr>

                            }
                        </tbody>
                        <tfoot>

                        </tfoot>
                    </table>

                </div>


            </div>
        </div>
    </div>

}

<div class="loader-wrap" style="display:none">
    <div class="loader">
        <span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span><span class="loader-item"></span>
        <span class="loader-item"></span><span class="loader-item"></span>
    </div>
</div>
@section Styles {
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    @*<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />*@
    <link href="~/Content/List/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/List/responsive.bootstrap.min.css" rel="stylesheet" />
 <link href="~/Content/List/color1.css" rel="stylesheet" />
   }
@section scripts{
<script src="~/Scripts/List/dataTables.min.js"></script>
<script src="~/Scripts/List/bootstrap.min.js"></script>
<script src="~/Scripts/List/responsive.min.js"></script>
<script src="~/Scripts/List/responsive.bootstrap.min.js"></script>
    }

<script type="text/javascript">
    function FnEditCancel(e) {
        var editElemts = e.srcElement.offsetParent.getElementsByClassName('edit-mode');
        var displayElemts = e.srcElement.offsetParent.getElementsByClassName('display-mode');
        $(editElemts).each(function (index) {
            $(this).toggle();
        });
        $(displayElemts).each(function (index) {
            $(this).toggle();
        });
    }
    function FnSave(e)
    {
        $(".loader-wrap").show();
        var editElemts = e.srcElement.offsetParent.getElementsByClassName('edit-mode');
        var status = editElemts.ddlStatus.value
        var addId = e.srcElement.offsetParent.parentElement.previousElementSibling.children.addId.innerText;
        $.ajax({
            url: '/User/UpdateAddStatus/',
            data: { addId: addId, status: status },
            type: 'GET',
            contentType: 'application/json; charset=utf-8',
            success: function (data) {
                window.location.href = "/User/Admin";
                $(".loader-wrap").hide();
            },
            failure: function (response) {
                console.log(response.responseText);
            },
            error: function (response) {
                console.log(response.responseText);
            }
        });
    }
    $(document).ready(function () {
        $('.edit-mode').hide();
        var table = $('#tblAdds').DataTable({
            "responsive": true,
            //"columnDefs": [{ "targets": -1, "data": null, "defaultContent": "<input id='btnDetails' class='btn btn-success' width='25px' value='Get Details' />" }]

        });  

    });
</script>

