@model ParentCategory
@{
    ViewBag.Title = "PreviewAdd";
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Created</th>
            <th>Image</th>
            <th>Price</th>
            <th>SquareFeets</th>
            <th>Preview</th>
            <th>Edit</th>
        </tr>
    </thead>
    <tbody>
     
            
            <tr>
              
               
              <td>@Model.Title</td>
                <td>@Model.Created</td>
              <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
              <td>@Model.Price</td>
              <td>@Model.SquareFeets</td>
                <td>@Model.Bedrooms</td>
                <td>@Model.Availability</td>
                            
                


            </tr>
             
        @*<tr>


            <td>@Model.Realestate.Title</td>
            <td>@Model.Realestate.Created</td>
            <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
            <td>@Model.Realestate.Price</td>
            <td>@Model.Realestate.SquareFeets</td>
            <td>@Model.Realestate.Bedrooms</td>
            <td>@Model.Realestate.Availability</td>




        </tr><tr>


    <td>@Model.Realestate.Title</td>
    <td>@Model.Realestate.Created</td>
    <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
    <td>@Model.Realestate.Price</td>
    <td>@Model.Realestate.SquareFeets</td>
    <td>@Model.Realestate.Bedrooms</td>
    <td>@Model.Realestate.Availability</td>




</tr>*@
        
    </tbody>
</table>