@model CustomAdd
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("PreviewAdd", "User", FormMethod.Post, new { id = "PreviewAdd" }))
{

    <div>
        <div class="breadcrumb-block">

        </div>
        <div class="add-listing-wrap">
            <div class="container">
                <div class="add-listing-tost-block" style="max-width:970px !important;margin:auto;">
                    <p>
                        <strong>Existing User? Please </strong><a href="login.html">Sign in.</a> <strong>New here? </strong>Please <strong>continue</strong> and enter your <strong>Name</strong> & <strong>Email</strong> Address along with listing information at the bottom.
                    </p>
                </div>
                <div>
                    <input type="text" id="validationTemp" style="display:none" required />
                </div>
                <div class="listing-block businessinfo-listing" style="max-width:970px !important;margin:auto;">

                    <div class="row">
                        <div class="col-md-8 col-sm-6">
                            <h2 style="text-align:left;"> test title for agricultural vebiclaes for the location andhra pradesh</h2>
                            <div>
                                <i class="fa fa-map-marker"></i> Ameerpet , Hyderabad  | Posted on: 26 April
                            </div>                          
                        </div>
                        <div class="col-md-4 col-sm-6">
                            <div class="price pull-right"> <i class="fa fa-tags"></i>  &#8377;12000</div>
                            @*<a class="pull-right btn btn-orange btn-lg">Contact</a>*@
                        </div>                         
                    </div>
                   
                    <!-- Product Details-->
                    <div class="row mt40">
                        <div class="col-md-2">

                        </div>
                        <!-- Left Image-->
                        <div class="col-md-8 col-xs-12 col-sm-12">
                            <ul class="thumbnails mainimage clearfix image-frame">
                                <li> <img class="my-foto-container image-frame"   src="@Model.ImgUrlPrimary" data-large="@Model.ImgUrlPrimary" data-title="Your Product Name" alt="Your Product Name" data-help="Your Product Name" title="Your Product Name" /> </li>
                            </ul>
                            <ul class="thumbnails mainimage clearfix mt10">
                                <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3"> <img class="zoom" style="width:100% !important;height:auto" src="@Model.ImgUrlPrimary" data-large="@Model.ImgUrlPrimary" data-title="Your Product Name" alt="Your Product Name" data-help="Your Product Name" title="Your Product Name"></li>
                                <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3"> <img class="zoom" style="width:100% !important;height:auto"  src="@Model.ImgUrlSeconday" data-large="@Model.ImgUrlSeconday" data-title="Your Product Name" alt="Your Product Name" data-help="Your Product Name" title="Your Product Name"></li>
                                <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3"> <img class="zoom" style="width:100% !important;height:auto" src="@Model.ImgUrlThird" data-large="@Model.ImgUrlThird" data-title="Your Product Name" alt="Your Product Name" data-help="Your Product Name" title="Your Product Name"></li>
                                <li class="producthtumb col-lg-3 col-md-3 col-xs-3 col-sm-3"> <img class="zoom" style="width:100% !important;height:auto" src="@Model.ImgUrlFourth" data-large="@Model.ImgUrlFourth" data-title="Your Product Name" alt="Your Product Name" data-help="Your Product Name" title="Your Product Name"></li>
                            </ul>
                            <div class="mt10">* Mouse move on Image to zoom</div>
                        </div>
                        <div class="col-md-2">

                        </div>
                        <!-- Right Details-->

                    </div>
                    <div class="mt40" id="serchlist">
                        <div class="col-lg-7 col-md-7 col-xs-12 col-sm-12 mt40column">
                            <div class="clearfix">
                                <div class="price pull-left"> <i class="fa fa-rupee"></i> @Model.Price</div>
                                <a class="pull-right btn btn-orange btn-lg">Contact</a>
                            </div>
                            <!-- Product Description tab & comments-->
                            <div class="productdesc">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li id="tabdesc"><a href="#description">Description</a> </li>
                                    <li id="tabspec"><a href="#specification">Specification</a> </li>
                                    <li id="tabcontact"><a href="#contact">Send Message</a> </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="description">
                                        <h3 class="m0">@Model.Description</h3>
                                        <br />

                                    </div>
                                    <div class="tab-pane " id="cv-specification">
                                        <ul class="productinfo">
                                            @if (@Model.CV != null)
                                            {
                                                <li> <span class="productinfoleft"> Company: </span> @Model.CV.Company </li>
                                            }

                                        </ul>

                                    </div>
                                    <div class="tab-pane " id="tv-specification">
                                        <ul class="productinfo">
                                            @if (@Model.TV != null)
                                            {
                                                <li> <span class="productinfoleft"> Company: </span> @Model.TV.Company </li>
                                            }
                                        </ul>

                                    </div>
                                    <div class="tab-pane " id="av-specification">
                                        <ul class="productinfo">
                                            @if (@Model.AV != null)
                                            {
                                                <li> <span class="productinfoleft"> Company: </span> @Model.AV.Company </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="tab-pane " id="re-specification">
                                        <ul class="productinfo">
                                            @if (@Model.RE != null)
                                            {
                                                <li> <span class="productinfoleft"> Availability:</span> @Model.RE.Availability </li>
                                                <li> <span class="productinfoleft"> ListedBy:</span> @Model.RE.ListedBy</li>
                                                <li> <span class="productinfoleft"> Furnishing: </span> @Model.RE.Furnishing </li>
                                                <li> <span class="productinfoleft"> Bedrooms: </span> @Model.RE.Bedrooms </li>
                                                <li> <span class="productinfoleft"> SquareFeets: </span> @Model.RE.SquareFeets</li>
                                                <li> <span class="productinfoleft"> Squareyards: </span> @Model.RE.Squareyards </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="tab-pane " id="pv-specification">
                                        <ul class="productinfo">
                                            @if (@Model.PV != null)
                                            {
                                                <li> <span class="productinfoleft"> Company: </span> @Model.PV.Company </li>
                                                <li> <span class="productinfoleft"> Model:</span> @Model.PV.Model </li>
                                                <li> <span class="productinfoleft"> Year:</span> @Model.PV.Year</li>
                                                <li> <span class="productinfoleft"> FuelType:</span> @Model.PV.FuelType</li>
                                                <li> <span class="productinfoleft"> KMDriven: </span> @Model.PV.KMDriven </li>
                                            }
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="contact">
                                        <form class="form-vertical">
                                            <fieldset>
                                                @*<div class="control-group">
                                                        <label class="control-label">Your Name</label>
                                                        <div class="controls">

                                                            <input type="text" class="span3">
                                                        </div>
                                                    </div>*@
                                                <div class="control-group">
                                                    <label class="control-label">Message</label>
                                                    <div class="controls">
                                                        <textarea rows="3" name="user-message" class="span3"></textarea>
                                                    </div>
                                                </div>
                                            </fieldset>
                                            <input type="submit" class="btn btn-orange" value="continue">
                                            @Html.HiddenFor(m => m.AddId)
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div id="maincontainer">

        <div class="container listing-block" style="max-width:970px !important;margin:auto;">

        </div>

    </div>
}

@section Styles {
    <link href="@Url.Content("~/Content/CustomeNew/Index1.css")" rel="stylesheet" type="text/css" />
    <link href="~/Content/List/color1.css" rel="stylesheet" />

}

@section scripts{

    <script src="~/Scripts/ScriptsNew/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>*
    <script src="~/Scripts/ScriptsNew/zoomsl-3.0.min.js"></script>
    <script src="~/Scripts/custom.js"></script>

}
<script type="text/javascript">
    $(document).ready(function () {
        $('#myTab a').click(function (e) {
            e.preventDefault()
            var selectedTab = $(this).context.innerText;
            var selectedCategory = '@Model.Category';
            ClearTabs();
            if (selectedTab == "Specification") {
                $("#tabspec").addClass("active");
                switch (selectedCategory) {
                    case "Real Estate":
                        $("#re-specification").css("display", "block");
                        break;
                    case "Construction Vehicles":
                        $("#cv-specification").css("display", "block");
                        break;
                    case "Transportation Vehicles":
                        $("#tv-specification").css("display", "block");
                        break;
                    case "Agricultural Vehicles":
                        $("#av-specification").css("display", "block");
                        break;
                    case "Passenger Vehicles":
                        $("#pv-specification").css("display", "block");
                        break;
                }
            }
            else if (selectedTab == "Description") {
                $("#description").css("display", "block");

                $("#tabdesc").addClass("active");

            }
            else if (selectedTab == "Send Message") {
                $("#contact").css("display", "block");

                $("#tabcontact").addClass("active");
            }
        })
        $('#myTab a:first').tab('show') // Select first tab
        function ClearTabs() {
            $(".tab-content > .tab-pane").removeClass("active");
            $(".tab-content > .tab-pane").css("display", "none");
            $('#myTab li').removeClass("active");


        }
    });
</script>
