@model Add
@{
    ViewBag.Title = "PreviewAdd";
}


<table class="table table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Image</th>
            <th>Price</th>
            <th>SquareFeets</th>
            <th>Preview</th>
        </tr>
    </thead>
    <tbody>
     
            
            <tr>
                <td>@Model.Created</td>
                @foreach (var add in Model.RealEstates)
                {
                    <td>@add.Title</td>
                            <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
                            <td>@add.Price</td>
                            <td>@add.SquareFeets</td>
                }
                @foreach (var add in Model.Cars)
                {
                    <td>@add.Title</td>
                    <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
                            <td>@add.Price</td>
                            <td>@add.Description</td>
                           
                }
                @foreach (var add in Model.Electronics)
                {
                    <td>@add.Title</td>
                    <td><img src="@Url.Content("~/images/logo.jpg")" alt="" /></td>
                            <td>@add.Price</td>
                            <td>@add.Description</td>
                            
                }
                            
           </tr>
             
        
        
    </tbody>
</table>